
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div id="cats_noti"></div>
		<div class="row">
			<div class="col-md-6">
				<h4>All Categories</h4>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<%= button_to 'New Category', new_admin_sub_category_path, method: 'get', class: 'btn btn-primary' 	%>
				</div>
			</div>
		</div>


		<table class=" table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Category</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @cats.each do |c| %>
					<tr>
						<td><b><%= c.id %></b></td>
						<td><b><%= c.name%></b></td>
						<td><b><%= c.category.name%></b></td>
						<td><%= link_to 'Edit',edit_admin_sub_category_path(c)%></td>

					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>