<div class="row">
	<div class="col-sm-offset-2">
	<h4> Update Pogo </h4>
	<p></p>
		<%= form_for @pogo, url: admin_pogo_path, html: {class: 'form-horizontal'}, method: 'put' do |f| %>
			
			<div class="row form-group">
				<%= f.label :category, class: 'col-sm-2' %>
				<%= f.text_field :category, class: 'col-sm-6'%>
			</div>
			<div class="row form-group">
				<%= f.label :position, class: 'col-sm-2' %>
				<%= f.number_field :position, class: 'col-sm-6'%>
			</div>
			
			<div class="row form-group">
				<%= f.label :pogo, class: 'col-sm-2' %>
				<%= f.file_field :avatar, class: 'col-sm-6'%>
			</div>
			

			<div class="row form-group">
				<%= f.submit 'Submit', class: 'btn btn-primary col-sm-4 col-sm-offset-2' %>
			</div>
		<% end %>
	</div>
</div>