<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->
	<head data-hook="inside_head">
		<%= render partial: 'spree/shared/head' %>

		<script type="text/javascript">
			(function() {
			var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
			hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
			})();
        </script>
	</head>

	<body  id="<%= @body_id || 'default' %>" data-hook="body" >
	<!-- class="<%= body_class %> container" -->
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '1719839441577015',
		      xfbml      : true,
		      version    : 'v2.3'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
			<%= render partial: 'spree/shared/google_analytics' %>

			<div class="row">
				<div  class="col-md-12" >
					<%#= render partial: 'spree/shared/topmost_nav' %>
					<%= render partial: 'spree/shared/header' %>
					<%#= render partial: 'spree/shared/main_nav_bar' %>
					
					
						<%= flash_messages %>
						<%= yield %>
						</div>
						<%= yield :templates %>
					
					<%#= render partial: 'spree/shared/footer' %>
				</div>	
			</div>
			
	</body>
</html>


