<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4><%= link_to 'All Suites', admin_prodinfos_path%>
		>>
		Product Details</h4>
		<table class="table table-striped">
            <tr>
				<td><b>Length</b></td>
				<td><%= @prodinfo.length%></td>
			</tr>
			<tr>
				<td><b>Width</b></td>
				<td><%= @prodinfo.width%></td>
			</tr>
			<tr>
				<td><b>Height</b></td>
				<td><%= @prodinfo.height%></td>
			</tr>
			<tr>
				<td><b>Size</b></td>
				<td><%= @prodinfo.size%></td>
			</tr>

			<tr>
				<td><b>Material</b></td>
				<td><%= @prodinfo.material%></td>
			</tr>
			<tr>
				<td><b>Instructions</b></td>
				<td><%= @prodinfo.instructions%></td>
			</tr>
			<tr>
				<td><b>Product Id</b></td>
				<td><%= @prodinfo.product_id%></td>
			</tr>

			<tr>
				<td>
					Products
				</td>
				<td>
					<table>
						<tbody>
						<%= link_to 'Add New product', new_admin_prodinfo_path(s_id: @prodinfo.id), class: 'btn btn-primary' %>
						</tbody>
					</table>
				</td>
			</tr>
		</table>




		
			<div class="row">
				<div class="col-md-4">
					<%= button_to 'Update', edit_admin_prodinfo_path(@prodinfo), method: 'get' , class: 'btn btn-primary'%>
				</div>
				<div class="col-md-2">
					<%= link_to 'Delete', admin_prodinfo_path(@prodinfo), method: 'delete', data: {confirm: "Are you sure?"} %>
				</div>		
			</div>
			
	</div>
</div>

