  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<style>
  h2 {
     width: 100%; 
     text-align: center; 
     border-bottom: 1px solid #000; 
     line-height: 0.1em;
     margin: 10px 0 15px; 
     font-size: 20px;
     font-family:Times;
  } 

  h2 span { 
      background:#fff; 
      padding:20px; 10px; 
  }


  h3{
  margin-top:1px;
  font-size: 30px;
  font-family:Times;
  }

  h5 {
     font-size: 17px;
     font-family: 'Old Standard TT', serif;
     font-style: italic; 

}

h6{     
     font-size: 20px;
     font-family:Times; 
     margin-top:1px;
     margin-bottom:1px;
}


  .lsr-txt{
  margin-top:20px;
   font-size:30px;
   font-style:italic; font-family: 'Old Standard TT', serif; text-align:center;
  }
  .lsr-txt-below {
  margin-top: 15px;
  font-size:22px;
  font-style:italic;
  font-weight:400;
  font-family: 'Old Standard TT', serif; text-align:center;
  }
  .shop-now-below {

  margin-top:30px;
  font-size:15px;
  font-weight:600;
  text-align:center;
  }

  .whychooseus{
    width:590px;
    font-weight: normal;
}

.smallspan{
  width:50px;
  height:60px;
  float:left;
  color: #6BBCBF;
}

.bigspan{
  float:left;
  width:525px;
  height:60px;
  padding-left: 20px;
}

ul.choose li{
  margin-bottom: 25px;
  margin-left: -30px;
}


</style>

<div class="row" style="height:auto; width:1000px;">
  
      
      <div class="col-md-12"style="height:auto; width:1000px;">
              <div class="col-md-12" style="height:500px; width:1000px; background:rgba(1,0,0,0.2);margin-bottom:30px;">
                 <%= render 'spree/landing_pages/wedding/main_banner'%>
              </div>


               <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:50px;">     
                  <div class="col-md-8" style="height:410px;width:592px;margin-right:8px;">
                            <div class="whychooseus">
                                  <h3>Why choose us</h3>
                                  <ul class="choose">
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-paint-brush fa-3x"></i></span>
                                      <span class="bigspan"><h6>Customization </h6> Modify designs to suit your style and taste</span></li>
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-user fa-3x"></i></span>
                                      <span class="bigspan"><h6>Free Dedicated Designer</h6> Get experienced Graphic Designer to assit you in end-to-end customization</span></li>
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-rocket fa-3x"></i></span>
                                      <span class="bigspan"><h6 >No Hassles</h6> Get all the services at your door step</span></li>
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-stack-overflow fa-3x"></i></span>
                                      <span class="bigspan"><h6>Wide range of designs </h6> Exclusive and unique designs from world class designers</span></li>
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-envelope fa-3x"></i></span>
                                      <span class="bigspan"><h6>Free Recipient Addressing </h6> We add recipient addresses on your envelopes so that you can save your time</span></li>
                                      <li class="cust">
                                      <span class="smallspan"><i class="fa fa-thumbs-up fa-3x"></i></span>
                                      <span class="bigspan"><h6 >Quality you can feel</h6>  Luxe paper and best prints. We bet you will fall in love with our cards</span></li>
                                  </ul>
                              </div>
                  </div>    
                  <div class="col-md-4" style="height:410px;width:392px;margin-left:8px;"> 
                      <h3>Get FREE dedicated designer</h3>  
                  <div class="col-md-4" style="height:360px;width:392px;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);padding:20px;"> 
                  <p style= "font-weight:normal;margin-left:15px;margin-bottom:20px;">Call +91-9953733764 to talk to your dedicated designer </p>
                      <%= render 'spree/leads/new' %>
                  </div>
                  </div>
               </div>

              <h2><span  style="font-size:30px; height:100px; font-style:italic;">Let the invites speak your style</span></h2>
              <div style="height:30px;"></div>
              <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:10px;">
                 <div class="row">
                    <div class="col-md-4" style="height:280px; width:322px; background:rgba(1,0,0,0.2); margin-right:8px;">
                      <%= render 'spree/landing_pages/wedding/second_banner'%>
                    </div>
                    <div class="col-md-4" style="height:280px; width:323px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;">
                      <%= render 'spree/landing_pages/wedding/third_banner'%>  
                    </div>
                    <div class="col-md-4" style="height:280px; width:323px; background:rgba(1,0,0,0.2); margin-left:8px;">
                      <%= render 'spree/landing_pages/wedding/fourth_banner'%>
                    </div>
                 </div>
              </div>
              
              <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:50px;">                 
                  <div class="row">
                    <div class="col-md-4" style="height:200px; width:322px;margin-right:8px;">
                      <div class="lsr-txt"> Laser Cut</div>
                       <div class="lsr-txt-below"> Perfect for a look that's <br>
                          beautifully cutting edge. 
                       </div>
                       <div class="shop-now-below"> SHOP NOW <i class="fa fa-arrow-circle-right"></i></div>
                    </div>
                    
                    <div class="col-md-4" style="height:200px; width:323px;margin-right:8px;margin-left:8px;">
                       <div class="lsr-txt "> Foil Stamped </div>
                       <div class="lsr-txt-below"> In different colors, discover <br>
                          foils that are ready to shine. 
                       </div>
                       <div class="shop-now-below"> SHOP NOW <i class="fa fa-arrow-circle-right"></i></div>
                    </div>
                    
                    <div class="col-md-4" style="height:200px; width:323px; margin-left:8px;">
                        <div class="lsr-txt "> Embossed </div>
                       <div class="lsr-txt-below"> Richness you can feel <br>
                          that leaves a lasting impression.  
                       </div>
                       <div class="shop-now-below"> SHOP NOW <i class="fa fa-arrow-circle-right"></i>   </div>
                    </div>
                  </div>
              </div>

              
              <div class="col-md-12" style="height:500px; width:1000px; background:rgba(1,0,0,0.2);margin-bottom:30px;">
                  <%= render 'spree/landing_pages/wedding/fifth_banner'%>
              </div> 

              <div class="col-md-12" style="height:auto;width:1000px;margin-bottom:30px;">
               <h2 style="font-size:30px;font-style:italic;"><span> Your style. Our expertise </span></h2>              
              </div>             
              
              <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:10px;">
                <div class="row">
                  <div class="col-md-6" style="height:311px; width:492px; background:#ffffff; margin-right:8px;" >
                      <%= render 'spree/landing_pages/wedding/sixth_banner'%>
                  </div>
                  <div class="col-md-6" style="height:311px; width:492px;margin-left:8px;background:rgba(1,0,0,0.2);">
                      <%= render 'spree/landing_pages/wedding/seventh_banner'%>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="height:200px;width:1000px;margin-bottom:10px;">
                  <div class="col-md-6" style="height:150px;width:492px;margin-right:8px;display:inline; margin-top:10px;">
                    <p><span style="font-size:22px; height:auto; font-family:Times; text-align:left; margin-top:10px; font-style:italic; width:49%;"> We hand pick each and every paper for your cards to </br> match the quality and deliver perfection
                    </span> </p>
                    <a href="www.prindora.com/paper-and-printing-styles"> <p><span style="font-size:16px; text-align:left; margin-top:10px; width:49%; color:#6BBCBF"> Know more about our Paper &amp Printing Styles <i class="fa fa-arrow-circle-right"></i></span></p> </a>
                  </div>
                
                  <div class="col-md-6" style="height:150px;width:492px;margin-left:8px; display:inline; margin-top:10px;">
                    <p><span style="font-size:22px; height:auto; text-align:left; font-style:italic; margin-top:10px; font-family:Times; width:49%; color:"> We will add recipient addresses on your envelopes at no additional charges </span> </p>
                    <a href="www.prindora.com/guest-addressing"> <p><span style="font-size:16px; text-align:left; margin-top:10px; width:49%; color:#6BBCBF"> Know more about Free Guest Addressing <i class="fa fa-arrow-circle-right"></i> </span></p></a>
                  </div>
              </div>


      </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    })
</script>


              



      
 


