<h5>Wedding</h5>
<div class="row" style="height:auto; width:1000px;">
  
      
      <div class="col-md-12"style="height:auto; width:1000px;">
              <div class="col-md-12" style="height:500px; width:1000px; background:rgba(1,0,0,0.2);">
              <%= render 'spree/landing_pages/wedding/main_banner'%>
              </div>

              <div class="col-md-12" style="height:auto; width:1000px;margin-top:10px;">
                <div class="row">
                  <div class="col-md-4" style="height:238px; width:322px; background:rgba(1,0,0,0.2); margin-right:8px;" >
              <%= render 'spree/landing_pages/wedding/second_banner'%>

                  </div>
                  <div class="col-md-4" style="height:238px; width:323px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;" >
                <%= render 'spree/landing_pages/wedding/third_banner'%>

                  </div>
                   <div class="col-md-4" style="height:238px; width:323px; background:rgba(1,0,0,0.2); margin-left:8px;" >
               <%= render 'spree/landing_pages/wedding/fourth_banner'%>
                  
                  </div>                 
                </div>
              </div>

              <div class="col-md-12" style="height:400px; width:1000px; background:rgba(1,0,0,0.2);margin-top:10px;">
              <%= render 'spree/landing_pages/wedding/fifth_banner'%>

              </div>              
              
              <div class="col-md-12" style="height:auto; width:1000px; margin-top:10px;">
                <div class="row">
                  <div class="col-md-6" style="height:311px; width:492px; background:rgba(1,0,0,0.2); margin-right:8px;" >
              <%= render 'spree/landing_pages/wedding/sixth_banner'%>

                  </div>
                  <div class="col-md-6" style="height:311px; width:492px;margin-left:8px;background:rgba(1,0,0,0.2);">
              <%= render 'spree/landing_pages/wedding/seventh_banner'%>

                  </div>
                </div>
              </div>
      </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    })
</script>


              



      
 


