<style>
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 15px; 
   font-size: 20px;
   font-family:Times;
} 

h2 span { 
    background:#fff; 
    padding:20px; 10px; 
}

</style>


<h5>Wedding</h5>
<div class="row" style="height:auto; width:1000px;">
  
      
      <div class="col-md-12"style="height:auto; width:1000px;">
              <div class="col-md-12" style="height:500px; width:1000px; background:rgba(1,0,0,0.2);margin-bottom:60px;">
                 <%= render 'spree/landing_pages/wedding/main_banner'%>
              </div>

              <h2><span><b>LET THE CARDS SPEAK FOR YOUR STYLE</b></span></h2>


              <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:10px;margin-top:20px;">
                <div class="row">
                  <div class="col-md-4" style="height:280px; width:322px; background:rgba(1,0,0,0.2); margin-right:8px;" >
                     <%= render 'spree/landing_pages/wedding/second_banner'%>
                  </div>
                  <div class="col-md-4" style="height:280px; width:323px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;" >
                     <%= render 'spree/landing_pages/wedding/third_banner'%>
                  </div>
                   <div class="col-md-4" style="height:280px; width:323px; background:rgba(1,0,0,0.2); margin-left:8px;" >
                       <%= render 'spree/landing_pages/wedding/fourth_banner'%>
                  </div>                 
                </div>
              </div>

              <div class="col-md-12" style="height:500px; width:1000px; background:rgba(1,0,0,0.2);margin-bottom:10px;">
                  <%= render 'spree/landing_pages/wedding/fifth_banner'%>
              </div>              
              
              <div class="col-md-12" style="height:auto; width:1000px;">
                <div class="row">
                  <div class="col-md-6" style="height:311px; width:492px; background:#ffffff; margin-right:8px;" >
                      <%= render 'spree/landing_pages/wedding/sixth_banner'%>
                  </div>
                  <div class="col-md-6" style="height:311px; width:492px;margin-left:8px;background:rgba(1,0,0,0.2);">
                      <%= render 'spree/landing_pages/wedding/seventh_banner'%>
                  </div>
                </div>
              </div>
      </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    })
</script>


              



      
 


