<div class="row">
  <div class="col-md-3"style="height:1000px; width:200px; margin-right:46px;float:left;border:1px solid rgba(1,0,0,0.3);">
            <%= render 'filter' %>
  </div>

 


 <div class="col-md-9"style="height:auto; width:746px; margin-left:8px;float:right;">
          <%= render 'spree/suites/sort' %>
              <div class="col-md-12" style="height:auto; width:746px;">
              <div class="row">
                <% if @suites.present? %>
                  <% @suites.each do |p| %>
                   <%= render 'spree/suites/suite', p: p %>
                  <% end %> 
                
                <%else %>
                  <div>No Results found</div>
                  <%= form_tag '/search', :method => :get, class: "form-horizontal" do %>
                      <div class="form-group">
                        <%= label_tag 'Search',nil, class: 'col-md-2 control-label' %>
                        <div class="col-md-6">
                          <%= search_field_tag :search, params[:search], class: "form-control"%>
                        </div>  
                      </div>
                      
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <%= submit_tag 'Submit' %>
                        </div>
                      </div>    
                  <% end %>
                
                <% end %>                
              </div>
              </div>
      </div>
<%= paginate @suites %>

</div>
