<div class="review review-cont" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <div class="row">
    <div class="col-md-3" >
      <div class='reviewed-by'>Reviewed by</div>
      <span itemprop="author" class='review-author' ><%= review.user.full_name%> </span>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
            <%= render 'spree/reviews/stars', stars: review.rating %>
            <span itemprop="reviewRating" content="<%= review.rating %>"></span>
          </span>        
        </div>
        <div class="col-md-4">
          <span class='review-date'><%=review.created_at.strftime("%d,%B, %Y") %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span itemprop="name" class='review-title'><b><%= review.title if review.title.present?%></b></span>    
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span itemprop="reviewBody" class='review-body'>
            <%= simple_format(review.review) %>
          </span>        
        </div>
      </div>
    </div>
  </div>
</div>