
<div class="row">
	<div class="col-sm-offset-2">
	<h4> Edit Suite </h4>
		<%= form_for @suite, url: admin_suite_path(@suite), class: 'form-horizontal', method: 'put' do |f| %>
			<div class="row form-group">
				<%= f.label :sku_id, class: 'col-sm-2' %>
				<%= f.text_field :sku_id, class: 'col-sm-6'%>
			</div>
			<div class="row form-group">
				<%= f.label 'weight', class: 'col-sm-2'%>
				<%= f.number_field :position, class: 'col-sm-6' %>
			</div>
			<div class="row form-group">
				<%= f.label :name, class: 'col-sm-2' %>
				<%= f.text_field :name, class: 'col-sm-6'%>
				
			</div>
			<div class="row form-group">
				<%= f.label :description, class: 'col-sm-2' %>
				<%= f.text_field :description, class: 'col-sm-6'%>
			</div>
			<div class="row form-group">
				<%= f.label 'Designer', class: 'col-sm-2' %>
				<%= f.select :designer_id,Designer.all.collect{|d| [d.name,d.id]}, class: 'col-sm-6'%>
			</div>
			<td><%if @suite.sub_categories 
					@suite.sub_categories.each do |s|%>
						<%= s.name %>,
					<% end %>
				<%end%>
			</td>
			<div class="row form-group">
				<%=f.label 'Sub Categories', class: 'col-sm-2' %>
				<div class="col-sm-6">
					<% SubCategory.all.each do |s| %>
						
						<% if !@suite.sub_categories.include?(s)%>
							<%= label_tag s.name%>
							<%= check_box_tag 'sub_category_ids[]', s.id%>
							&nbsp
						<%end%>
					<% end %>
				</div>
			</div>

			
			<div class="row form-group">
				<%= f.label 'Available from', class: 'col-sm-2' %>
				<%= f.date_field :available_on %>
			</div>

			<div class="row form-group">

				<%= f.label 'Suite Photo', class: 'col-sm-2' %>
				<%= f.file_field :avatar %>
			</div>

            <div class="row form-group">
				<%= f.label 'Slug', class: 'col-sm-2'%>
				<%= f.text_field :slug %>
			</div>


			<div class="row form-group">
				<%= f.submit 'Submit', class: 'btn btn-primary col-sm-4 col-sm-offset-2' %>
			</div>
		<% end %>
	</div>
</div>