
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div id="suites_noti"></div>
		<div class="row">
			<div class="col-md-6">
				<h4>All Suites</h4>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<%= button_to 'New Suite', new_admin_suite_path, method: 'get', class: 'btn btn-primary' 	%>
				</div>
			</div>
		</div>


		<table class=" table table-striped">
			<thead>
				<tr>
				    <th>Suite DP</th>
					<th>Id</th>
					<th>Name</th>
					<th>SKU Id</th>
					<th>Description</th>
					<th>Designer Name</th>
					<th>Designer Id</th>
					<th>Sub Category</th>
					<th>Available From(YYYY-MM-DD) </th>
					<th>Slug</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @suites.each do |s| %>
					<tr>

						<td><%= image_tag s.avatar.url(:thumb) %></td>
   						<td><b><%= s.id %></b></td>
						<td><%= s.sku_id %></td>
						<td><%= link_to s.name, admin_suite_path(s) %></td>
						<td><%= s.description %></td>
						<td><%= s.designer.name %></td>
						<td><%= s.designer_id %></td>
						<td><%= s.sub_category.name %></td>
						<td><%= s.available_on %></td>
						<td><%= s.slug%></td>
						<td><%= link_to 'Edit',edit_admin_suite_path(s)%></td>

					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>