<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4><%= link_to 'All Suites', admin_suites_path%>
		>>
		Suite Details</h4>
		<table class="table table-striped">


			<tr>
				<td><b>Image</b></td>
				<td><%= image_tag @suite.avatar.url(:thumb) %></td>
			</tr>
            <tr>
				<td><b>SKU ID</b></td>
				<td><%= @suite.sku_id%></td>
			</tr>
			<tr>
				<td><b>Weight</b></td>
				<td><%= @suite.position%></td>
			</tr>
			<tr>
				<td><b>Name</b></td>
				<td><%= @suite.name%></td>
			</tr>
			<tr>
				<td><b>Description</b></td>
				<td><%= @suite.description%></td>
			</tr>
			<tr>
				<td><b>Designer Id</b></td>
				<td><%= @suite.designer_id%></td>
			</tr>
			<tr>
				<td><b>Designer Name</b></td>
				<td><%= @suite.designer.name%></td>
			</tr>
			<tr>
				<td><b>Sub Category</b></td>
				<td><% @suite.sub_categories.each do |s|%>
					<%= s.name%>,
					<% end %>
				</td>
			</tr>
			<tr>
				<td><b>Available From</b></td>
				<td><%= @suite.available_on%></td>
			</tr>


			<tr>
				<td><b>Slug</b></td>
				<td><%= @suite.slug %></td>

			</tr>
			<tr>
				<td><b>Images</b></td>
				<td>
					<table>
						<% @suite.suite_images.each do |s|%>
							<tr>
								<td><%= s.name %></td>
								<td><%= image_tag s.avatar.url(:thumb)%></td>
							</tr>
						<% end %>
						<%= link_to "Add photos", new_admin_suite_image_path %>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					Products
				</td>
				<td>
					<table>
						<tbody>
							<%= link_to 'Add New product', new_admin_product_path, s_id: @suite.id, class: 'btn btn-primary' %>

							<% @suite.spree_products.each do |p| %>
								<tr>
									<td><%= p.name %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
			<div class="row">
				<div class="col-md-4">
					<%= button_to 'Update', edit_admin_suite_path(@suite), method: 'get' , class: 'btn btn-primary'%>
				</div>
				<div class="col-md-2">
					<%= link_to 'Delete', admin_suite_path(@suite), method: 'delete', data: {confirm: "Are you sure?"} %>
				</div>		
			</div>
			
	</div>
</div>

