<% content_for :head do %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"%>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"%>
    <%= stylesheet_link_tag "spree/frontend/seller" %>

<% end %>
<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Sell on India's most unique marketplace</h1>
                <hr>
                <p>Prindora helps people to discover and buy creative products designed by designers/artists around the world </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Register as a seller</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Prindora has got everything you need to get your store up and start selling in no time! We provide a customized experience to all our users based on their interests. Hence we show your products to the right users at the right time, apparently more business for you in an easy way</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why sell at Prindora?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="padding:10px; !imporant">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary"></i>
                        <h3>Reach the right audience. Always!</h3>
                        <p class="text-muted">We provide a customized experience to all our visitors based on their interests. So your products always reach the right audience at the right time. So better conversion rate and better business</p>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="padding:10px; !imporant">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Logistic Support</h3>
                        <p class="text-muted">We provide "Pick Up and Deliver" support to our sellers. We will pickup the product from your place and deliver to the cutomer, you can just sit and chill out :) We also provide free Packaging material to ensure the products reach the customers safely. </p>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="padding:10px; !imporant">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Get Analytics dashboard</h3>
                        <p class="text-muted">Every registered seller gets an analytics dashboard on Prindora through which you can analyse your products' reach, impressions, click through rates, track sales, payments, notifications etc</p>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="padding:10px; !imporant">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Get loved</h3>
                        <p class="text-muted">Gain Followers & Fans, engage more with customers, build brand recognition, get feedbacks on your products, build more trust and loyalty for your brand, don't just remain as another seller. #Dontgetlost </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What all can you sell on Prindora?</h2>
                    <hr class="primary">
                </div>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'clothing.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Fashion & Clothing
                                </div>
                                <div class="project-name">
                                    Sell western, eastern, ethnic etc cloths for Men, Women and Kids
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'accessories.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Accessories
                                </div>
                                <div class="project-name">
                                    Sell Men/Women/Kids footwear,bags & purses,clutches, totes, belts and any other accessories
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'home decor.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Home & Living
                                </div>
                                <div class="project-name">
                                    Sell Furniture,Home Decor, Kitchen & Dining, Garden, Bed & Bath, Party Decor etc
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'jewellery.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Jewellry
                                </div>
                                <div class="project-name">
                                    Sell artificial, precious jewelleries and more
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'art & craft.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Art&Craft
                                </div>
                                <div class="project-name">
                                    Sell any handmade items like greetings, gifts, unique goods, crafts, cottage goods, vintage goods and more
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'more.jpg', class: 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    More
                                </div>
                                <div class="project-name">
                                    Sell Paintings, Arts, Books, Impressions and more.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

  
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start selling on Prindora? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+91-8800757363</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><%= mail_to "seller@prindora.com", "seller@prindora.com"%></p>
                </div>
            </div>
        </div>
    </section>