<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TBK7B6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBK7B6');</script>
<!-- End Google Tag Manager -->

<% if "spree/products" == params[:controller] && @taxon || !@taxonomies.empty? %>
	<% content_for :sidebar do %>
		<div data-hook="homepage_sidebar_navigation">
			<% if "spree/products" == params[:controller] && @taxon %>
				<%= render :partial => 'spree/shared/filters' %>
			<% else %>
				<%= render :partial => 'spree/shared/taxonomies' %>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if params[:keywords] %>
	<div data-hook="search_results">
		<% if @products.empty? %>
			<h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
		<% else %>
			<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
		<% end %>
	</div>
	
	<% else %>
		<div data-hook="homepage_products">
			<% cache(cache_key_for_products) do %>
				<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
			<% end %>
		</div>
	<% end %>