<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TBK7B6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBK7B6');</script>
<!-- End Google Tag Manager -->

    
<% if @subcat.present? %>    
<h4>Suites: <%= @subcat.name %></h4>
<% end %>
<div class="row" style="height:auto; width:1000px;">
         
      <div class="col-md-3" style="height:auto; width:230px; margin-right:10px;float:left;border:1px solid rgba(1,0,0,0.3);">
      <%= render 'spree/solrsearch/filter'%>
      </div>
      <div class="col-md-9"style="height:auto; width:746px; margin-left:8px;float:right;">
              <!--<div class="col-md-12" style="height:140px; width:746px; background:rgba(1,0,0,0.2);margin-bottom:10px;">
              </div>-->
              <div class="col-md-12" style="height:auto; width:746px;">
                <%= render 'spree/suites/sort' %>
                <div class="row">
                  <% if !@scsuite.nil? %>
                    <% @scsuite.each do |p| %>
                       <%= render 'spree/suites/suite', p: p %>
                    <% end %> 
                  <% end %>                
                </div>
                
              <%= paginate @scsuite %>

              </div>
      </div>

</div>


