<script type="text/javascript">
default_colwidth=230;
colwidth=0;
colmargin=10;
colheights=[];
colnum=0;
searchval="";
gutter=0;
modalid=-1;
cardsdata = [];
$(document).ready(function(){
	
	$(document).on("click","#category",function(){
		$("#tail").toggle();
		$("#category_box").toggle();
    	$("#main").toggleClass("blur");

	});
	
	$(document).click(function(e){
		if(e.target.id != "category_box" && e.target.id != "category" && e.target.id != "tail")
		{
			$("#tail").hide();
			$("#category_box").hide();
      		$("#main").removeClass("blur");

		}
	});
	
	// cardsarea layout starts
	colinitializer();
	getsubcategories();
	getcards(searchval);
	
	$(window).load(colinitializer);
	
	var timer;
	$(window).bind('load', function() {
	  if(timer)
		clearTimeout(timer);
	  timer = setTimeout(function(){colinitializer();}, 100);
	});
	
	$(window).resize(function(){colinitializer();});
	
	$(window).bind('resize', function() {
	  if(timer)
		clearTimeout(timer);
	  timer = setTimeout(function(){colinitializer();}, 100);
	});
	
	var page = 2
	$(window).scroll(function(){
		if($(window).scrollTop() == $(document).height() - $(window).height())
		{
			getcards(page);
			page = page+1;
		}
	}
	);
	
	/*$("#search").on("input",function()
		{
			$('#cardsarea').empty();
			
			for(var i=0 ; i<colnum ; i++)
				colheights[i]=colmargin;
			
			getcards(searchval);
		}
	);*/
	
	//cardsarea layout ends
	
	$(document).on("mouseover",".card",function(){
		$(this).find(".addtowishlist").css("visibility","visible");
	});
	
	$(document).on("mouseout",".card",function(){
		$(this).find(".addtowishlist").css("visibility","hidden");
	});
	
	// popup layout starts
	
	$(document).on("click","#closemodal",function(){
		$('#myModal').modal('hide');
	});
	
	$('#myModal').on('show.bs.modal', function () {
		$('#main').addClass('blur');
		$(".nextcard").show();
		$(".prevcard").show();
		$(".closemodal").show();
	})

	$('#myModal').on('hide.bs.modal', function () {
		$('#main').removeClass('blur');
		$(".nextcard").hide();
		$(".prevcard").hide();
		$(".closemodal").hide();
	})
	
	$(document).on("click","#nextcard",function(){
		
		var cardnum = $(".card").index($("#"+modalid));
		if(cardnum < $('.card').length-1)
			cardnum++;
		else
			cardnum=0;
		var nextid = $(".card:eq("+cardnum+")").attr("id");
		createmodal(nextid);
	});
	
	$(document).on("click","#prevcard",function(){
		var cardnum = $(".card").index($("#"+modalid));
		if(cardnum > 0)
			cardnum--;
		else
			cardnum = $('.card').length-1;
		var previd = $(".card:eq("+cardnum+")").attr("id");
		createmodal(previd);
	});
	
	$(document).on("click",".cardimage",function(){
		var x=$(this).parent().attr('id');
		createmodal(x);
	});
	
		$(document).on("click","#scroll-down",function () {
			var select = $(this);
			select.prop("disabled",true);
			$('.modal-gallery').animate({
				scrollTop:$('.modal-gallery').scrollTop()+84
			},"ease",function(){select.prop("disabled",false);});
		});
		
		$(document).on("click","#scroll-up",function () {
			var select = $(this);
			select.prop("disabled",true);
			$('.modal-gallery').animate({
				scrollTop:$('.modal-gallery').scrollTop()-84
			},"ease",function(){select.prop("disabled",false);});
		});
	
		$(document).on('mouseover','.gallerybutton',function(){
			$(".selected").removeClass("selected");
			$(this).addClass("selected");
			$(".modal-image").attr("src",$(".selected img").attr("src"));
			//replace this by source of image linked to that small image
		});
		
		$(document).on("click","#scroll-right",function () {
			var select = $(this);
			select.prop("disabled",true);
			$('.designer_gallery').animate({
				scrollLeft:$('.designer_gallery').scrollLeft()+180
			}, "ease",function(){select.prop("disabled",false);});
		});
		
		$(document).on("click","#scroll-left",function () {
			var select = $(this);
			select.prop("disabled",true);
			$('.designer_gallery').animate({
				scrollLeft:$('.designer_gallery').scrollLeft()-180
			}, "ease",function(){select.prop("disabled",false);});
		});
		
		
		//popup layout ends		
		
		//login window
			
		$(document).on("click","#userid",function(){
			$("#wrapper").css({"top":parseInt($(window).height()/2-$('#wrapper').outerHeight()/2)+"px","left":parseInt($(window).width()/2-$("#wrapper").outerWidth()/2)+"px"});
			$("#wrapper").toggle();
			$("#main").toggleClass("blur");
		});
	
		$(document).on("click","#close",function(){
			$("#wrapper").hide();
			$("#main").removeClass("blur");
		});
		
		//login window
});


function getcards(page_no){
	
	$.ajax({	
	dataType:"json",
	async:"TRUE",
	url:"<%= api_discover_path(@discover)%>",
	method:"GET",
	data:{cardnum:$(".card").length,range:4*colnum, page:page_no},
	beforeSend:function(){$("#loaderarea").show();},
	success:function(data){
		cardsdata.push.apply(cardsdata,data);
		for(var i=0 ; i<data.length ; i++){
			var card = "<div id=\""+data[i]['id']+"\" class=\"card\"><div class=\"cardimage\" type=\"button\" class=\"btn\" data-toggle=\"modal\" data-target=\"#myModal\"><img src=\""+data[i]['spree_assets'][0]['url']+"\"></div><div class=\"cardpanel\"><div class='prod-name text-center'>"+data[i]['name']+"</div><div class='row'><div class='col-md-6 price-card'>Rs."+data[i]['price']+"</div><div class='col-md-6 buy-card text-right'><i class='fa fa-cart'>Buy</i></div></div><div class=\"cardinfo\">"+data[i]['short_descrip']+"</div><div class=\"designer_info\"><a href=/designers/"+data[i]['designer']['slug']+" class=\"btn bttn\" style=\"padding:0;background:white;color:#5F5F5F\"><image src=\""+data[i]['designer']['img']+"\" style=\"height:35px;\" class=\"img-circle\" > "+data[i]['designer']['name']+"</a></div></div><button class=\"btn addtowishlist bttn\"><i class=\"fa fa-heart fa-1x\" style=\"position:relative;left:-6px;top:-3px\"></i></button></div>";
			$("#cardsarea").append(card);
		}
		colinitializer();
		$("#loaderarea").hide();
		return;
	},
	error:function(){
		alert("ERROR! ERROR! ERROR!");
	}
	});
}
	
function createmodal(x){
	$.ajax({	
	dataType:"json",
	async:"TRUE",
	url: "/api/modal_info/"+x,
	method:"GET",
	data:{cardnum:x, id: x},
	success:function(data){
		modalid=x;
		data1={};
		for(var i=0 ; i<cardsdata.length ; i++)
		{
			if(x==cardsdata[i]['id'])
			{
				data1=cardsdata[i];//this is the info of the clicked product;
				break;
			}
		}
		var gallery="";
		for(var i=0 ; i<data1["spree_assets"].length ; i++)
		{	
			gallery+="<div class=\"gallerybutton";
			if(i==0)
			gallery+=" selected";
			gallery+="\"><img src=\""+data1["spree_assets"][i]['url']+"\"></div>";
		}
		$(".modal-gallery").html(gallery);
		if(data1["spree_assets"].length>5)
		{
			$("#scroll-up").show();
			$("#scroll-down").show();
		}
		else
		{
			$("#scroll-up").hide();
			$("#scroll-down").hide();
		}
		$(".modal-gallery").scrollTop(0);
		$(".designer_gallery").scrollLeft(0);
		
		$(".modal-image").attr("src",$(".selected img").attr("src"));
		$(".designer_name").html(data1['designer']['name']);
		$(".protitle").html("<strong>"+data1['name']+"</strong>");
		$(".proprice").html("<strong>Rs. "+data1['price']+ "</strong>");

		$(".variant_id").html("<input id='token' name='variant_id[]' type='hidden' value='"+data[0]['master_variant_id']+"' />")
		$(".stock").html("Only 1 Left in Stock");
		$(".filterselect").html("<select><option>option1</option><option>option2</option><option>option3</option><></select>")
		$(".overview").html("<h4>Overview</h4><ul><li>Handmade item</li><li>Made to order</li><li>Feedback: 161 reviews</li><li>Ships worldwide from Düsseldorf, Germany</li></ul>");
		$(".additionalinfo").html("This shop accepts Etsy Gift Cards");
		$("#item_details").html(data1['description']);
		$(".designer_image img").attr("src",data1['designer']['img']);
		$("#product_id").attr("value",data1['id']);
		
		// fetch and insert the comments
		$("#all-comments").html("");
		var logged_in= "<%= spree_current_user.present? %>";
		var current_user_id = "<%= spree_current_user.id if spree_current_user.present? %>";
		$("#new-comment").html("");
		for(var i = 0; i < data[0]['comments'].length; i++){
			if(logged_in== 'true' && current_user_id== data[0]['comments'][i]['user_id']){
				$("#all-comments").append("<div id=comment-"+data[0]['comments'][i]['id']+" class='row comment-cont'><div class='col-md-11'><div class='comment-user'>"+data[0]['comments'][i]['user']+"</div><div class='comment-body'>"+data[0]['comments'][i]['body']+"</div></div><div class='col-md-1'></div><form method='post' action='/delete_comment' data-remote='true' accept-charset='UTF-8'><div style='display:none'></div><input id='comment_id' type='hidden' value='"+data[0]['comments'][i]['id']+"' name='comment_id'></input><input data-confirm='Are you sure !!' class='delete-button' type='submit' value='x' name='commit' data-toggle='tooltip' data-placement='left' title='Delete this comment'></input></form></div>");
			}
			else
			{
				$("#all-comments").append("<div class='row comment-cont' style='border-bottom:1px solid #F2F2F2;'><div class='col-md-11'><div class='comment-user'>"+data[0]['comments'][i]['user']+"</div><div class='comment-body'>"+data[0]['comments'][i]['body']+"</div></div><div class='col-md-1'></div></div>");		
			}
		}
		//fetch similar products and run loop
		$(".similar_products").html("");
		for(var i=0; i<6; i++)
		{
			$(".similar_products").append("<a href=\"#\" onclick=\"createmodal("+data["sim_products"][i].number+")\"><div class=\"simproduct bttn\"><div style=\"width:170px;height:170px;text-align:center;vertical-align:middle;\"><img src=\""+data["sim_products"][i].image+"\" style=\"height:170px;width:170px;\"></div><div style=\"width:170px;height:25px\">Prod Name</div><div style=\"width:170px;height:25px;\">$ "+data["sim_products"][i].number+"</div></div></a>");
		}
		$(".designer_gallery").html("");
		for(var i=0 ; i<8 ; i++)
		{
			$(".designer_gallery").append("<td><a href=\"#\"  onclick=\"createmodal("+data["des_products"][i].number+")\"><div class=\"desproduct bttn\"><div><img src=\""+data["des_products"][i].image+"\" style=\"height:160px;width:160px;\"></div><div style=\"width:160px;height:20px\">Prod Name</div><div style=\"width:160px;height:20px;\">$ "+data["des_products"][i].number+"</div></div></a></td>");
		}
	
	},
	error:function(){
		alert("ERROR! ERROR! ERROR!");
	}
	});
	// to get the review form for the product
	$.get('/other_forms/'+x);
}	
	
function min(arr)
{
	var min=arr[0],minindex=0;
	for(var i=1 ; i<colnum ; i++)
	{
		if(arr[i]<min)
		{
			min=arr[i];
			minindex=i;
		}
	}
	return minindex;
}	

function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

function colinitializer(){
		if($(document).innerWidth()<480)
		{
			colwidth=($(window).innerWidth()-3*colmargin)/2;
		}
		else 
			colwidth=default_colwidth;
		$(".card").css("width",colwidth+"px");
		$(".buyitnow").css("width",colwidth-20+"px");
		colnum=Math.floor(Math.max($(window).innerWidth()/(colwidth+colmargin),1));
		for(var i=0 ; i<colnum ; i++)
		colheights[i]=colmargin;
		$("#cardsarea").outerWidth(colnum*(colwidth+colmargin));
		if($(document).innerWidth()>480)
		$("#header").outerWidth(colnum*(colwidth+colmargin));
		else
		$("#header").outerWidth($(window).innerWidth()-2*colmargin);	
		$("#loaderarea").outerWidth(colnum*(colwidth+colmargin));
		$("#search").outerWidth(Math.min($("#category").offset().left-($("#logo img").width()+$("#logo").offset().left)-30,600));
		$("#category_box").css("right",parseInt($(window).width()-$('#category').offset().left-300)+"px");
		$("#tail").css("right",parseInt($(window).innerWidth()-$('#category').offset().left-100)+"px");
		$(".modal-dialog").width(Math.min($(window).innerWidth()-200,1000));
		$(".closemodal").css("left",($(window).innerWidth()+$('.modal-dialog').width())/2+20+"px");
		$(".nextcard").css("left",($(window).innerWidth()+$('.modal-dialog').width())/2+20+"px");
		$(".prevcard").css("right",($(window).innerWidth()+$('.modal-dialog').width())/2+37+"px");
		positioncards();
}

function positioncards(){
		if($(window).innerWidth()<480)
			gutter=0;
		else
			gutter=($(window).innerWidth()-colnum*(colwidth+colmargin))/2-colmargin/2;
		$(".card").each(function(){
			var left,top,col;
			col=min(colheights);
			left=col*(colwidth+colmargin)+colmargin+gutter;
			top=colheights[col]+$("#cardsarea").offset().top;
			
			$(this).css({"left":left+"px","top":top+"px"});
			
			colheights[col]+=$(this).outerHeight()+colmargin;
		});
		
		var max=0;
		for(var i=0 ; i<colnum ; i++)
			if(colheights[i]>max)
				max=colheights[i];
		
		$("#loaderarea").css({"top":parseInt(max+$("#cardsarea").offset().top)+"px","left":$("#header").offset().left+"px"});
}
function getsubcategories(){
	
	$.ajax({	
	dataType:"json",
	async:"TRUE",
	url:"<%= api_get_discovers_path(@discover.category)%>",
	type:"GET",
	data:{categoryname:''},
	success:function(data){
		
		
		for(var i=0 ; i<8 ; i++)
		{
			var card = "<a href=\""+data[i]['url']+"\" class=\"subcategory_link\" style=\"background-image:url("+data[i]['img_url']+")\"><div>"+data[i]['name']+"</div></a>";
			$("#subcategories").append(card);
		}
		
	},
	error:function(){
		alert("ERROR! ERROR! ERROR!");
	}
	});
	
}


</script>

</head>

<body>

	<div id="main">
		
		<div id="category_area">
			<div id="category_name">
				<%= @discover.name%>
			</div>
			<!-- Follow Button, need to be place properly-->
			<div id="follow-container">
				<div><!-- Don't change the id-->
					<% if spree_current_user %>
						<% if spree_current_user.following_discover?(@discover) %>
							<div id="follow-form">
								<%= render 'discover_unfollow'%>		
							</div>
						<% else %>
							<div id="follow-form">
								<%= render 'discover_follow'%>
							</div>

						<% end %>	
					<% end %>
				</div>
				
			</div>
			<!-- End of the follow button-->
			
			<div id="subcategories_area">
				RELATED INTERESTS
				<div id="subcategories">
				</div>
			</div>
		</div>
		
		<div id="cardsarea">
		</div>
		
		<div id="loaderarea">
			<div style="display:block;margin:0 auto;width:30px;">
			<i class="fa fa-spinner fa-pulse fa-3x"></i>
			</div>
		</div>
		
	</div>
	
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
		<div class="modal-header">
				<div class='by-designer'>By</div>
				<div class="designer_image">
					<img style="max-height:80px; max-width:80px" class="img-circle img-responsive center-block">
				</div>
				<div class="designer_name">
				</div>
				<div id='follow-cont'></div>
				<button class="btn bttn" style="float:right;position:relative;top:20px;background-color:#6BBCBF;color:white;"><i class="fa fa-arrow-circle-right"></i> Follow this designer</button>
		</div>
		<div class="modal-body">
		<div class="leftmodal">
			<div class="modal-slide">
				<div style="width:80px;height:20px;float:left;margin-top:10px;">
				<a href="#" id="scroll-up"><i style="margin-left:33px;color:#6BBCBF" class="fa fa-chevron-circle-up fa-1x"></i></a>
				</div>
				<div class="modal-gallery-container">
					<div class="modal-gallery">
					</div>
				</div>
				<div style="width:80px;height:20px;float:left">
				<a href="#" id="scroll-down"><i style="margin-left:33px;color:#6BBCBF" class="fa fa-chevron-circle-down fa-1x"></i></a>
				</div>
			</div>
			<img class="modal-image">
			<div class="modaltabs" role="tabpanel">
				<!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
					
					<li role="presentation" ><a href="#item_details" aria-controls="item_details" role="tab" data-toggle="tab">Item Details</a></li>
					<li role="presentation"><a href="#item_ratings" aria-controls="item_ratings" role="tab" data-toggle="tab"> <span id='tab-ratings'> Ratings</span></a></li>
					<li role="presentation"><a href="#policies" aria-controls="policies" role="tab" data-toggle="tab">Shipping & Policies</a></li>
				  </ul>

						 <!-- Tab panes -->
						 <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="comments">
								<div id="all-comments">
								</div>
								<div id="new-comment"></div>
									<div class="row">
										<% if spree_current_user %>
											<%= render 'add_comment'%>
										<% else %>
											
											<%= link_to 'Login to comment', '/login', style:'margin-top: 10px; font-weight:bold;'%>
													
											
										<% end %>
									</div>
							</div>
							<div role="tabpanel" class="tab-pane " id="item_details">
								
							</div>
							<div role="tabpanel" class="tab-pane fade" id="item_ratings">
								yyy
							</div>
							
							<div role="tabpanel" class="tab-pane fade" id="policies">
																Shipping Costs
								Shipping to

								Cost
								$5.66 USD
								Get shipping costs for multiple items in your cart. Shipping upgrades are available for this item.
								Policies
								Payment
								All Payments are done via direct pay or paypal. 

								I am not allowed to include VAT in my prices because I take advantage of the “Kleinunternehmerregelung” (e.g. small business solution) written down in German VAT tax law (UstG §19)
								Shipping
								After receiving the complete payment I will start to produce your order. I will send you a notification when your item has shipped - this will go to the email address that you signed up to Etsy with. I send all orders by letter. If you would like to upgrade to Priority or Express Shipping, please contact me to arrange this before purchase. I will then adjust the shipping costs by additional charges. 
							</div>
						</div>

			</div>
		</div>
		<div class="rightmodal">
			<div class="modal-info">
				<div class="protitle">
				</div>
				<div class="proprice">
				</div>
				<%= form_for :order, url: populate_orders_path do |f| %>
					<div class="quantitycontainer">
						Quantity
						<div class="variant_id">
						</div>
						<div class="quantity">
							<%= select_tag 'quantity[]', options_for_select((1..10))%>
						</div>
					</div>
					<div class="stock">
					</div>
					<div class="filter">
						Size<br>
						<div class="filterselect">
						</div>
					</div>
					<div class="overview">
					</div>
					<div class="additionalinfo">
					</div>
					<div class="addtocart">
					<%= submit_tag 'ADD TO CART', class: 'btn bttn', style:"width:348px;background-color:#6BBCBF;color:white" %>	
						
					</div>
				<% end %>
			</div>
			
	<!--		<div class="share">
			</div>
	-->		
			<div class="similar_products">
			</div>
			
		</div>
		
		<div class="designer_products">
			<div class="scroll-right bttn">
				<a href="#" id="scroll-right" style="position:relative;left:3px;top:75px;"><i style="color:#6BBCBF" class="fa fa-chevron-circle-right fa-3x"></i></a>
			</div>
			<div class="scroll-left bttn">
				<a href="#" id="scroll-left" style="position:relative;left:3px;top:75px;"><i style="color:#6BBCBF" class="fa fa-chevron-circle-left fa-3x"></i></a>
			</div>
			<div class="designer_gallery_container">
				<div class="designer_gallery">
				</div>
			</div>
		</div>
		
		<!--NEVER DELETE THE STABILIZER DIV BELOW-->
		<div class="stabilizer">
		</div>
		
		</div>
		
		</div>
    </div>
  </div>

		<div class="closemodal">
			<button class="btn bttn" id="closemodal"><i style="color:#6BBCBF" class="fa fa-times fa-2x"></i></button>
		</div>
		<div class="nextcard">
			<button class="btn bttn" id="nextcard"><i style="color:#6BBCBF" class="fa fa-chevron-circle-right fa-2x"></i></button>
		</div>
		
		<div class="prevcard">
			<button class="btn bttn" id="prevcard"><i style="color:#6BBCBF" class="fa fa-chevron-circle-left fa-2x"></i></button>
		</div>
		
		<div id="wrapper">
			<div id="leftpart">	
				<div role="tabpanel">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
					<li role="presentation"><a href="#sinup" aria-controls="sinup" role="tab" data-toggle="tab">Signup</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="login">
						<form id="login-form">
						<div class="form_row">
							<label for="login-email">Email</label>
							<input type="text" autocomplete="on" id="login-email" name="login-email" autofocus>
						</div>
						<div class="form_row">
							<label for="login-password">Password</label>
							<input type="password" id="login-password" name="login-password">
						</div>
						<div class="form_row">
							<input class="btn bttn" type="submit" id="login-submit" value="LOG IN">
							<div id="forgot-password" style="position:relative; top:10px"><a href="#">Forgot Your Password?</a></div>
						</div>
						</form>
						<div style="position:relative; top:10px">Don't have an account? <a href="#signup">Create One!</a></div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="sinup">
						<form id="signup-form">
						<div class="form_row">
							<label for="signup-email">Email</label>
							<input type="text" autocomplete="on" id="signup-email" name="signup-email" autofocus>
						</div>
						<div class="form_row">
							<label for="signup-password">Password</label>
							<input type="password" id="signup-password" name="signup-password">
						</div>
						<div class="form_row">
							<label for="signup-repeat_password">Repeat</label>
							<input type="password" id="signup-repeat_password" name="signup-repeat_password">
						</div>
						<div class="form_row">
							<input class="btn bttn" type="submit" id="signup-submit" value="SIGN UP NOW!">
						</div>
						</form>
					</div>
				  </div>

				</div>
			</div>
			<div id="divider"><div id="updivider"></div><div id="or">OR</div><div id="downdivider"></div></div>
			<div id="rightpart">
				<div id="signinwith">Sign in with</div>
			</div>
			<div id="close"><i class="fa fa-times"></i></div>
		</div>

</body>

</html>