
			<div class="designer-links">
					        <div>
								<% if spree_current_user %>
									<%# unless spree_current_user==@discover %>
									  <% if spree_current_user.pinned?(@discover) %>
									    <%= render 'unpin' %>
									  <% else %>
									    <%= render 'pin', discover: @discover %>
									  <% end %>
									<% #end %>
								<% else %>
									<%= button_to 'Login to follow this designer', '/login',class: "btn btn-primary",style: "width:203px;height:30px;background:#87c9c2;color:white;" %>
								<% end %>
							  <a href="<%= pinned_user_path(@discover) %>" class="removeline">
							      <%= @discover.pinned.count %>
							    pins
							  </a>
						    </div>s
			</div>
