<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Id</td>
					<td><%= @dsg.id %></td>
				</tr>
				<tr>
					<td><b>Name</b></td>
					<td><%=@dsg.name %></td>
				</tr>
				<tr>
					<td><b>About</b></td>
					<td><%= @dsg.about %></td>
				</tr>
				<tr>
					<td><b>City</b></td>
					<td><%= @dsg.city %></td>
				</tr>
				<tr>
					<td><b>Active</b></td>
					<td><%= @dsg.active %></td>
				</tr>
				<tr>
					<td><b>Avatar </b></td>
					<td><%= image_tag @dsg.avatar.url(:square)%></td>
				</tr>
			</tbody>
		</table>
		<%= button_to 'Update',edit_admin_designer_path(@dsg),method: 'get', class: 'btn btn-primary' %>

	</div>
</div>