<!--Wrapper for SEO considerations -->
<div itemscope itemtype="http://schema.org/IndividualProduct" itemdid="<%= p.id %>"> 
  
  <div class="suite-blck" >
    <div class="suite-img" >
      
      <span itemprop="image"><!-- Placeholder for suite image -->
        <%=link_to (image_tag p.avatar.url(:medium), alt: p.slug,width:340,height:340), p, 'data-no-turbolink'=> "true"%>
      </span>
      <%= render 'spree/shared/like', p: p %>
    </div>
    <div class="viewsuitediv">
      <%= link_to p,:class => "viewsuitetxt", itemprop:'url', 'data-no-turbolink'=> "true",'data-no-turbolink'=> "true" do  %>
        <span itemprop="name"><b><%= p.name %></b></span>
      <% end %>
      <br>

      <span class ="viewsuitetxt1"><b>Rs.xxx</b></span>
      <!--<div class="suite-clrblck">
        <% if p.colors.first %>
          <% p.colors.each do |sc| %>
            <div class="suite-clr" style="background:<%= sc.code %>"></div>
          <%end %>
        <%end %>
      </div>-->

      <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <span class="viewsuitetxt1" itemprop="ratingValue"> 
        <%= render 'spree/shared/rating', product: p, review: 0 %>
        </span>  
      </span>     
      
      <%= link_to p, class: 'viewsuitebtn', method: 'get', itemprop:"url" do %>
          <span class="viewsuitetxt1" >View Suite</span>
      <%end %>
      
    </div>
  </div>
</div> <!--End of itemscope individual products -->

<!-- Fetching images of products-->
