<script type="text/javascript">
   $(document).ready(function(){
   
   $('#gallery-demo').simplegallery({
     galltime : 400, // transition delay
     gallcontent: '.content',
     gallthumbnail: '.thumbnail',
     gallthumb: '.thumb'
   });
   
   });  
   
</script>

<script>
  $(document).ready(function(){
    var total = 0;
    $("select option:selected").each(function(){
      var qty = $(this).val();
      var txt = $(this).text();
      var arr = txt.split('---Rs. ')
      if(arr[1] != null){
        var prc = arr[1];
        if(qty != null){
          total = total + parseInt(prc)*qty;    
        }
      }
      else{
        var prc = 0;
      }
    });
    $("#total-price").html(total);    

  })
</script>

<script type="text/javascript">
   ;(function($, window, document, undefined) {
   
     $.fn.simplegallery = function(options) {
   
         var defaults = {
             'galltime': 300,
             'gallcontent': '.content',
             'gallthumbnail': '.thumbnail',
             'gallthumb': '.thumb'
         };
   
         var settings = $.extend({}, defaults, options);
   
         return this.each(function() {
   
             $(settings.gallthumb).click(function() {
   
                 $(settings.gallcontent).find('img').stop(true,true).fadeOut(settings.galltime).hide();
   
                 var img_attr = $(this).find('img').attr("id"),
                     image_id = img_attr.replace('thumb_', '');
   
                 $('.image_' + image_id + '').stop(true,true).fadeIn(settings.galltime);
                 return false;
  
             });
   
         });
   
     };
   
   })(jQuery, window, document);   
</script>


<style type="text/css">
   li
   {
   list-style-type: none;  
   }

   .suitenames{
    font-family:Century Gothic;
    font-size :15px;

   }

   .suitenames1{
    font-family:Century Gothic;
    font-size :11px;

   }

</style>
<!-- Suite Itemscope start-->
<div itemscope itemtype="http://schema.org/IndividualProduct" itemdid="<%= @suite.id %>">
    <div class="col-md-12" style="margin-bottom:20px;">
        <div class ="col-md-6" style="width:500px;float:left">
           <h4 itemprop="name" class="suitenames"><b><%=@suite.name %></b></h4>
           <h4 class="suitenames1">Exclusively Designed By: <%= link_to @suite.designer.name , @suite.designer%></h4>
        </div>
        <div class ="col-md-6" style="width:500px;float:right">
            <%= link_to image_tag("advicebtn.jpg",:style => 'float:right;margin-top:10px;'), "#","data-toggle"=>"modal", "data-target"=>"#mysuiteModal",class:"topbar" %>

            <%= render "suiteform" %>
                 <!--<%= form_for :order, url: populate_orders_path do |f| %> 
                 <% @prds.each do |p| %>
                 <% if !p.is_not_sample? %>
                 <%= render 'add_sample', prd: p%>
                 <% end %>
                 <% end %>
                 <%= submit_tag("Order Sample",:style => 'height:30px;width:100px;margin-left:400px;margin-top:15px;background:white; color:#6BBCBF;border:1px solid rgba(1,0,0,0.3);') %>
                 <% end %> -->
        </div>
    </div>
   <div class="col-md-12 suite-upper-cont" >
      <!-- Suite image container-->
      <div class="suite-img-cont">
         <div id="gallery-demo" class="simplegallery">
            <div class="content">
               <% @prds.each_with_index do |p,j| %>
                 <% p.variant_images.each_with_index do |img,i| %>
                    <%if j!= 0 %>
                    <%= image_tag img.attachment.url(:large), style: "display:none",class: 'image_'+ j.to_s %>
                    <% else %>
                     <%= image_tag img.attachment.url(:large), class: 'image_'+ j.to_s%>   
                    <% end %>
                 <%end %>
               <% end %>
            </div>
            <div class="clear"></div>
            <div class="thumbnail">
               <% @prds.each_with_index do |p,j| %>
               <% p.variant_images.each_with_index do |img,i| %>
               <div class="thumb">
                  <%= image_tag img.attachment.url, id: 'thumb_'+j.to_s%>
               </div>
               <% end %>
               <% end %> 
            </div>
         </div>
      </div>
      <!-- Suite building form-->
      <div class="suite-form-cont">
         <ul>

            <!--<li class="prop">
               <% if !@prds.nil? %>
               <div style="margin-left:-20px;">
                  <h5>BUILD YOUR SUITE &nbsp:</h5><br>
                  <%= form_for :order, url: populate_orders_path do |f| %>
                  <% @prds.each do |p| %>
                  <% if p.is_not_sample? %>
                  <%= render 'add_prod', prd: p %>
                  <% end %> 
                  <%end%>
                  <div class="row" style="margin-top:15px;">
                     <div class="col-md-6" >
                        <b>TOTAL VALUE</b>
                     </div>
                     <div class="col-md-6" >
                        <span><b>Rs.</b></span>
                        <b><span id="total-price">0</span></b>
                     </div>
                  </div>
                  <%= image_submit_tag("buttonbuynow.jpg",:id => 'add-to-cart-button') %>
                  <%end %>
               </div>
             <%end %> 
          </li> -->
          <li class="prop"> 
            <%= render 'spree/suites/add_to_wishlist' %>                
          </li>      
      </ul>
   </div>
</div>
<div class="col-md-12 suite-middle-cont" >
   <h3>Description:</h3>
   <%=@suite.description %>
</div>
<!-- suite lower middle part-->
<div class=" col-md-12 suite-lower-middle">
   <%= render 'spree/shared/reviews' %>
</div>
</div>  



