<script type="text/javascript">

$(document).ready(function() {
$('input:radio').click(function() {
var value = $("input[name='paper']:checked").val();
$('p').html("Checked Radio Button Value is :"+ value );
});
});

</script>



<h1>This is a suite show page </h1>

<div class="col-md-12" style="height:auto; width:1000px;">
                
          <div class="row">
                  
                  <div class="col-md-6" style="height:716px; width:492px; background:rgba(1,0,0,0.2); margin-right:8px;" >
                  </div>
                  
                  <div class="col-md-6" style="height:716px; width:492px;margin-left:8px;">
                  <div class="col-md-6" style="height:516px; width:492px;background:rgba(1,0,0,0.2)">
                  <ul>
                      <form action="" method="post">
  
                      <li class="prop">
                      <% if !@scat.nil? %>
                      <span>Color:</span>
                      
                      <% @scat.each do |sc| %>
                      <div class="colorbox" style="width:15px;height:15px;background:<%= sc.code%>">
                      </div>

                      <input type="radio" name="color"  value= <%=sc.id%> />
                       
                      <% end -%>
                      <% end -%>
                      </li>

      
                      <li class="prop">
                      <% if !@trm.nil? %>
                      <span>Trim:</span>
                      <% @trm.each do |sc| %>
                      <input type="radio" name="trim" value= <%=sc.id%> />
                      <%= sc.name%>
                      <% end -%>
                      <% end -%>
                      
                      </li> 

        
                      <li class="prop">
                      <% if !@pap.nil? %>
                      <span>Paper:</span>
                      <% @pap.each do |sc| %>
                        <%= sc.name%>
                      <input type="radio" name= "paper" value=  <%= sc.name%>>
                      <% end -%>
                      <% end -%>
                      </li>
                      

                      <li class="prop">
                      <% if !@dim.nil? %>
                      <span>Dimension:</span>
                      <% @dim.each do |sc| %>
                      <%= sc.width%>*<%= sc.height%>
                      <% end -%>
                      <% end -%>
                      </li>

                      <input type="image" style="height:20px; width:200px;" src="facebook.jpg" alt="Personalise & Buy Now" />

                      </form>
                  </ul>
                      <% if !@prds.nil? %>
                        <span>Product:</span>
                      
                        <%= form_for :order, url: populate_orders_path do |f| %>

                          <% @prds.each do |p| %>
                            <%= render 'add_prod', prd: p %> 
                            <%= p.name %>
                          <%end%>

                          <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                            <%= Spree.t(:add_to_cart) %>
                          <%end %>
                        <%end %>

                      <%end %>  
                      

                  </div>
                        
                        <div class="row">
                        <% $i = 0 %>
                        <% $num = 10 %>
                        <%while $i < $num  do%>
                        <span>
                        <div class="col-md-1" style="height:92px; width:90px;margin-right:4px;margin-left:4px;margin-bottom:4px;margin-top:4px; background:rgba(1,0,0,0.2);float:right;">fuck</div>
                        </span>
                        <%$i +=1 %>
                        <% end%>
                        </div>
                  
                  </div>

            </div>
    
</div>


<div class="col-md-12" style="height:auto; width:1000px;">
                
          <div class="row">
                  
              <div class="col-md-6" style="height:416px; width:492px; margin-right:8px;" >
                  <div class="col-md-6" style="max-height:200px; width:492px;margin-bottom:8px; background:rgba(1,0,0,0.2);overflow-y: scroll;" >
                  <h1>Description goes here</h1><br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>
                  gggggggg<br/>



                  </div>

                  <div class="col-md-6" style="height:200px; width:492px;margin-top:8px;background:rgba(1,0,0,0.2);">
                  <div class="row">
                  <% $i = 0 %>
                  <% $num = 10 %>
                  <%while $i < $num  do%>
                  <span>
                  
                  <div class="col-md-1" style="height:92px; width:90px;margin-right:4px;margin-left:4px;margin-bottom:4px;margin-top:4px; background:rgba(1,0,0,1);float:right;">fuck</div>
                  </span>
                  <%$i +=1 %>
                  <% end%>
                  </div>
                  </div>

              </div>
                  
              <div class="col-md-6" style="height:416px; width:492px;margin-left:8px;background:rgba(1,0,0,0.2);">
              </div>

          </div>
           
</div>    
  


