
<h1>This is a suite show page </h1>
<div class="container">
            
    <div class="row">
                
      <div class="col-sm-6" style="height:auto;width:560px;margin-right: 10px;border:1px solid #000;float:left;">
      
      <% if !@scat.nil? %>
          <% @scat.each do |sc| %>
            color: <%=  sc.name%>
          <% end %>
      <% end %>
      
      <% if !@trm.nil? %>
        <% @trm.each do |sc| %>
          <span>
            <br>
              trim: <%=  sc.name%>
            </br>
          </span>
        <% end -%>
      <% end -%>
        
        <% if !@pap.nil? %>
        <span>paper:</span>
        <% @pap.each do |sc| %>
           
            <span>

            |<%=  sc.name%>|
          
            </span>

                  <% end -%>
      <% end -%>

        <% if !@dim.nil? %>
        <% @dim.each do |sc| %>
            
            <span>
            <br>
              dimension: <%=  sc.width%>*<%= sc.height%>
            </br>
            </span>
                  <% end -%>
      <% end -%>
      </div>
     </div>
 </div>
<%= render 'spree/shared/reviews' %>