

<%= @s.name %>
<%= @s.description %>

</br>
<strong>Products</strong>
<% @p.each do |prd| %>
	<%= prd.name%>
<% end %>
<h1>This is a suite show page </h1>

<strong> Suite name - </strong>
<%= @suite.name %>

</br>
<strong>Suite Description</strong>
<%= @suite.description %>

<% @prds.each do |p| %>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-6">
			<%= p.name %>
		</div>
	</div>
<% end -%>




