<script type="text/javascript">
   $(document).ready(function(){
   
   $('#gallery-demo').simplegallery({
     galltime : 400, // transition delay
     gallcontent: '.content',
     gallthumbnail: '.thumbnail',
     gallthumb: '.thumb'
   });
   
   });  
   
</script>

<script>
  $(document).ready(function(){
    var total = 0;
    $("select option:selected").each(function(){
      var qty = $(this).val();
      var txt = $(this).text();
      var arr = txt.split('---Rs. ')
      if(arr[1] != null){
        var prc = arr[1];
        if(qty != null){
          total = total + parseInt(prc)*qty;    
        }
      }
      else{
        var prc = 0;
      }
    });
    $("#total-price").html(total);    
  })
</script>

<script type="text/javascript">
   ;(function($, window, document, undefined) {
   
     $.fn.simplegallery = function(options) {
   
         var defaults = {
             'galltime': 300,
             'gallcontent': '.content',
             'gallthumbnail': '.thumbnail',
             'gallthumb': '.thumb'
         };
   
         var settings = $.extend({}, defaults, options);
   
         return this.each(function() {
   
             $(settings.gallthumb).click(function() {
   
                 $(settings.gallcontent).find('img').stop(true,true).fadeOut(settings.galltime).hide();
   
                 var img_attr = $(this).find('img').attr("id"),
                     image_id = img_attr.replace('thumb_', '');
   
                 $('.image_' + image_id + '').stop(true,true).fadeIn(settings.galltime);
                 return false;
  
             });
   
         });
   
     };
   
   })(jQuery, window, document);   
</script>


<style type="text/css">
   li
   {
   list-style-type: none;  
   }
   .suitenames{
    font-family:Century Gothic;
    font-size :15px;
   }
   .suitenames1{
    font-family:Century Gothic;
    font-size :11px;
   }
   #circlefb,#circletw,#circlegp,#circlein,#circlema,#circlepi {
    width: 20px;
    height: 20px;
    background-color:rgba(1,0,0,0.6);
    color:#ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 4px;
   }

   #circlefb:hover{
    color:#ffffff;
    background:#3b5998;
   }
   #circletw:hover{
    color:#4099ff;
    background:#ffffff;
   }
   #circlepi:hover{
    color:#ffffff;
    background:#c92228;
   }
   #circlein:hover{
    color:#ffffff;
    background:#3b5998;
   }
   #circlegp:hover{
    color:#ffffff;
    background:#dd4b39;
   }
   #circlema:hover{
    color:#6bbcbf;
    background:#ffffff;
   }


</style>
<!-- Suite Itemscope start-->
<div itemscope itemtype="http://schema.org/IndividualProduct" itemdid="<%= @suite.id %>">
    <div class="col-md-12" style="margin-bottom:20px;">
        <div class ="col-md-6" style="width:500px;float:left">

        </div>
        <div class ="col-md-6" style="width:500px;float:right;">
            <a class="toplink" data-target="#mysuiteModal" data-toggle="modal" href="#">need help?</a>
            <%= render 'suiteform' %>
        </div>
    </div>
   <div class="col-md-12 suite-upper-cont" >
      <!-- Suite image container-->
      <div class="suite-img-cont">
         <div id="gallery-demo" class="simplegallery">
            <div class="content">
               <% @prds.each_with_index do |p,j| %>
                 <% p.variant_images.each_with_index do |img,i| %>
                    <%if j!= 0 %>
                    <%= image_tag img.attachment.url(:large), style: "display:none",class: 'image_'+ j.to_s %>
                    <% else %>
                     <%= image_tag img.attachment.url(:large), class: 'image_'+ j.to_s%>   
                    <% end %>
                 <%end %>
               <% end %>
            </div>
            <div class="clear"></div>
            <div class="thumbnail">
               <% @prds.each_with_index do |p,j| %>
               <% p.variant_images.each_with_index do |img,i| %>
               <div class="thumb">
                  <%= image_tag img.attachment.url, id: 'thumb_'+j.to_s%>
                  <%= p.name %>
               </div>
               <% end %>

               <% end %> 

            </div>
         </div>
      </div>
      <!-- Suite building form-->
      <div class="suite-form-cont">
         <!--<ul>

            <!--<li class="prop">
               <% if !@prds.nil? %>
               <div style="margin-left:-20px;">
                  <h5>BUILD YOUR SUITE &nbsp:</h5><br>
                  <%= form_for :order, url: populate_orders_path do |f| %>
                  <% @prds.each do |p| %>
                  <% if p.is_not_sample? %>
                  <%= render 'add_prod', prd: p %>
                  <% end %> 
                  <%end%>
                  <div class="row" style="margin-top:15px;">
                     <div class="col-md-6" >
                        <b>TOTAL VALUE</b>
                     </div>
                     <div class="col-md-6" >
                        <span><b>Rs.</b></span>
                        <b><span id="total-price">0</span></b>
                     </div>
                  </div>
                  <%= image_submit_tag("buttonbuynow.jpg",:id => 'add-to-cart-button') %>
                  <%end %>
               </div>
             <%end %> 
          </li> 
          <li class="prop"> 

          </li>      
      </ul>-->
          <div class="col-md-12" style="padding:30 30px;font-weight:normal;text-align:center;">
           <h4 itemprop="name" class="suitenames"><b><%=@suite.name %></b></h4>
           <h4 class="suitenames1">Exclusively Designed By: <%= link_to @suite.designer.name , @suite.designer%></h4>
    

            <% if !@scat.nil? %>
            <h3 style="margin-top:30px;margin-bottom:10px;font-weight:normal;font-size:15px;">Color:<br></h3>
            <div style="width:100%;margin-bottom:30px;">
              <div style="width:50%;margin:0 auto;">
            <% @scat.each do |p| %>
            <div style="width:15px;height:15px;margin:3px; background:<%=p.code%>;float:left;"></div>
            <%end%>
            </div>
            </div>
            <%end%>

            <h3 style="margin-top:50px;margin-bottom:20px;font-weight:normal;font-size:17px;">Starting From : <i class="fa fa-inr"></i>&nbsp<%=@suite.price %></h3>

            <%= link_to image_tag("custbuy.jpg"), customization_path(:s_id=> @suite.id) %>
            <div style="width:100%;margin-bottom:30px;margin-top:10px;">
              <div style="width:53%;margin:0 auto;">
              <div id="circlefb"><i class="fa fa-facebook"></i>
              </div>
              <div id="circletw"><i class="fa fa-twitter"></i>
              </div>
              <div id="circlepi"><i class="fa fa-pinterest-p"></i>
              </div>
              <div id="circlein"><i class="fa fa-instagram"></i>
              </div>
              <div id="circlegp"><i class="fa fa-google-plus"></i></div>
              <div id="circlema"><i class="fa fa-envelope-o"></i>
              </div>
              </div>
            </div>
            <%= render 'spree/suites/add_to_wishlist' %>


            <h3 style="margin-top:50px;margin-bottom:100px;font-size:16px;font-weight:normal;">Our Dedicated Designer will help you from end-to-end customization to delivery of your cards.</h3><br/>


            <p style="font-size:11px;">*The above price includes :</p>
            <p1 style="text-align:left;font-size:11px;">
              (4 leaves + Envelopes with free guest addressing on it)
              <br>
              You can also add more leaves during customization by paying extra.
            </p1>
                
          </div>
   </div>
</div>
<div class="col-md-12 suite-middle-cont" style="font-weight:normal;" >
   <h3>Description:</h3>
   <%=@suite.description %>
</div>
<!-- suite lower middle part-->

</div> 



