<script type="text/javascript">
$(document).ready(function(){

$('#gallery-demo').simplegallery({
  galltime : 400, // transition delay
  gallcontent: '.content',
  gallthumbnail: '.thumbnail',
  gallthumb: '.thumb'
});

});  

</script>

<div id="gallery-demo" class="simplegallery">
  <div class="content">
      
      <% @prds.each_with_index do |p, j| %>
        <% p.variant_images.each_with_index do |img,i| %>
          <%= image_tag img.attachment.url , id:'image_'+ j.to_s%>
        <%end %> 
      <% end %>
  </div>
  <div class="clear"></div>
  <div class="thumbnail">
   <% @prds.each_with_index do |p,j| %>
        <% p.variant_images.each_with_index do |img,i| %>
          <div class="thumb">
            <a href="#" rel="<%= j%>">
              <%= image_tag img.attachment.url , id: 'thumb_' + j.to_s%>
            </a>
          </div>
        <%end %> 
      <% end %>
  </div>
</div>
<!-- Suite Itemscope start-->
<div itemscope itemtype="http://schema.org/IndividualProduct" itemdid="<%= @suite.id %>">
  <h5 itemprop="name"><%=@suite.name %></h5>
        <div class="col-md-12 suite-upper-cont" >
              <!-- Suite image container-->
              <div class="suite-img-cont">
                  <!-- Fetching images -->
                  <div id="image_plchldr"></div>
                  <div id="thumbsliderdiv"></div>
              </div>
            <!-- Suite building form-->
              <div class="suite-form-cont">
                <ul>
                  <li class="prop">
                    <div id="order-sample">
                      
                    </div>

                    <!--       
                    <div class="selectqnty" >
                    <span>Quantity:</span> 
                      <select id="first-choice">
                        
                        <option selected value="base">Please Select</option>
                        <option value="beverages">Beverages</option>
                        <option value="snacks">Snacks</option>
                      </select>
                    </div> -->
                  </li>
                  
                  <li class="prop">
                    <% if !@scat.nil? %>
                    <span style="float:left;">Color:</span>
                      <% @scat.each do |sc| %>
                      <div class="colorbox" style="background:<%= sc.code%>" class="radios">
                      </div>    
                      <% end -%>
                    <% end -%>        
                  </li>
                  <br/>
                  <br/>

                  <li class="prop">
                    <% if !@trm.nil? %>
                      <span style="float:left;">Trim:</span>
                      <form>
                      <% @trm.each do |sc| %>
                      <input type="radio" name="trim" value=" <%= sc.name%>">
                        <%= sc.name%><br/>
                      <% end -%>
                      </form>
                    <% end -%>
                  </li>
                  
                  <li class="prop">
                    <% if !@pap.nil? %>
                      <span style="float:left;">Paper:</span>
                      <form>
                      <% @pap.each do |sc| %>
                      <input type="radio" name="paper" value=" <%= sc.name%>">
                       <%= sc.name%><br/>
                      <% end -%>
                      </form>
                    <% end -%>
                  </li>
                  
                  <li class="prop">
                    <% if !@dim.nil? %>
                      <span style="float:left;">Dimension:</span>
                      
                      <% @dim.each do |sc| %>
                        <%= sc.width%>*<%= sc.height%>
                      <% end -%>
                    <% end -%>  
                  </li>
                  
                  <li class="prop">
                    <% if !@prds.nil? %>
                      <span style="float:left;">Productz:</span>
                      <%= form_for :order, url: populate_orders_path do |f| %> 
                        <% @prds.each do |p| %>
                          <% if !p.is_not_sample? %>
                            <%= render 'add_sample', prd: p%>
                          <% end %>
                        <% end %>
                        <%= submit_tag("Order Sample",:id => 'add-to-cart-button') %>
                      <% end %> 

                      <%= form_for :order, url: populate_orders_path do |f| %>
                        
                        <% @prds.each do |p| %>
                          <% if p.is_not_sample? %>
                            <%= render 'add_prod', prd: p %>
                          <% end %>
                          
                          <%# p.variant_images.each do |img| %>
                            <%#= image_tag img.attachment.url %>
                          <%# end %>    
                        <%end%>
                        <div class="row" style="border-top:1px solid black;">
                          <div class="col-md-6" >
                            <b>Total Price</b>
                          </div>
                          <div class="col-md-6" >
                            <span><b>Rs.</b></span>
                            <b><span id="total-price">0</span></b>
                          
                          </div>
                        </div>
                    

                        <%= image_submit_tag("buttonbuynow.png",:id => 'add-to-cart-button') %>
                      <%end %> 
                    <%end %> 
                  </li>        
                </ul>
                <%= render 'spree/suites/add_to_wishlist' %>      
              </div>      
      </div>  

      <div class="col-md-12 suite-middle-cont" >
        <div class="row"> 
          <div  class="col-md-6">
            <div class="descriptionbox" itemprop="description">
              <h1>Description:</h1>
              Created for you by Minted’s global community of designers, our invitation designs will set the perfect tone for your wedding day. With unique designs printed on luxe paper, all foil pressed wedding invitations are available with several matching accessories. If you have any questions or special requests for your invitations, please email us.
            </div>
          </div>

          <div id ="suitedescdiv" class="col-md-6" >
            <div class="descriptionbox">
              <b>Dimensions:</b><br/>
              5" x 7" Printing: flat Card Type: flat Tags:kraft, gold, foil pressed, gold foil, modern, festive<br/><br/>
              <b>Printing Time:</b><br/>
              Order today by midnight PST with FedEx Ground shipping and receive your order by Tuesday, February 24. See more delivery options.<br/><br/>
              <b>Customization options:</b><br/>
              This wedding invitation can also be used for a general party invitation or converted into an entire invitation suite. Please email us for more details.
            </div>
          </div>
        </div>
      </div>

      <!-- suite lower middle part-->
      <div class=" col-md-12 suite-lower-middle">
              <div class="suite-lower-left-cont"  >
                <div class="suite-lower-left-cont-1" >
                  <div class="row">
                    <% $i = 0 %>
                    <% $num = 3 %>
                    <%while $i < $num  do%>
                      <span>
                        <div class="more-prod-cont">more products</div>
                      </span>
                      <%$i +=1 %>
                    <% end%>
                  </div>
                </div>
              </div>
                
              <div class="suite-banner-area">
                <div style="padding:20px;background:rgba(1,0,0,0.05);">
                  <h4>Write a Review</h4>
                  <%= render 'spree/shared/reviews' %>
                </div>
              </div>
      </div> 
</div> 
<!-- itemscope end-->
<%= link_to 'customize suite', suite_get_wcust_path(@suite, id: @suite.id) %>

<script type="text/javascript">
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */
;(function($, window, document, undefined) {

    $.fn.simplegallery = function(options) {

        var defaults = {
            'galltime': 300,
            'gallcontent': '.content',
            'gallthumbnail': '.thumbnail',
            'gallthumb': '.thumb'
        };

        var settings = $.extend({}, defaults, options);

        return this.each(function() {

            $(settings.gallthumb).click(function() {

                $(settings.gallcontent).find('img').stop(true,true).fadeOut(settings.galltime).hide();

                var img_attr = $(this).find('img').attr("id"),
                    image_id = img_attr.replace('thumb_', '');

                $('.image_' + image_id + '').stop(true,true).fadeIn(settings.galltime);
                return false;

            });

        });

    };

})(jQuery, window, document);


</script>

<script>
  $(document).ready(function(){
    var total = 0;
    $("select option:selected").each(function(){
      var qty = $(this).val();
      var txt = $(this).text();
      var arr = txt.split('---Rs. ')
      if(arr[1] != null){
        var prc = arr[1];
      }
      else{
        var prc = 0;
      }
      total = total + parseInt(prc)*qty;
    });
    $("#total-price").html(total);    

  })

</script>