
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dancing+Script" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crimson+Text" />
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<style type="text/css">
	.designer-container{
		width: 1000px;
		margin: auto;
	}
	.designer-container h2{
		text-align: center;
		margin-bottom: 30px;
	}
	.designer-container .row{
		margin: 0 !important;
	}
	.designer-container h3{
		font-family: sans-serif;
    	font-size: 17px;
    	font-weight: normal;
    	margin: 5px 0 0;
    	text-align: left;
	}
	.designer-div{
		margin-top: 0;
		height: 300px;
	}
	.designer-box{
		margin-top: 30px;
	}
	.designer-description {
		text-align: center;
		margin-top: 30px;
	}
	.designer-products{
		margin-top: 30px;
	}
	.designer-name{
		margin-bottom: 40px;
	}
	.designer-products h4,.designer-name h4{
		font-family: Dancing Script;
		font-size: 30px;
	}
	.designer-quote{
		margin-bottom: 40px
	}
	.designer-quote h6{
		font-size: 25px;
	}
	.designer-quote h4{
		font-size: 20px;
		font-family: Kaushan Script;
	}
	.designer-links button{
		margin-right: 5px;
	}
	.crimson{
		font-family: Crimson Text;
	}
	.black-7{
		color: #4d4d4d;
	}
	.black-5{
		color: #808080;
	}
	.products{
		margin-top: 10px;
		margin-bottom: 20px;
	}
</style>
		<div class="designer-container">
			<h2 class="crimson black-7" style="border-bottom:1px solid black;">
			MEET OUR DESIGNERS
			</h2>
			<div class="row">
				<div class="col-lg-12 designer-div">
					<div class="col-lg-6">
						<%= image_tag @details.avatar.url(:square),height:400,width:400; %>					</div>
					<div class="col-lg-6">
						<div class="designer-name">
							<h4 class="black-7"><%= @details.name %></h4>
							<h6 class="crimson black-5"><%= @details.city %></h6>
						</div>
						<div class="designer-quote">
							<h4 class="black-7">I Believe..</h4>
							<h6 class="crimson black-5">"Simple is Good"</h6>
						</div>


					<div class="designer-links">
				        <div>
							<% if spree_current_user %>
								<% unless spree_current_user==@designer %>
								  <% if spree_current_user.following?(@designer) %>
								    <%= render 'unfollow' %>
								  <% else %>
								    <%= render 'follow' %>
								  <% end %>
								<% end %>
							<% else %>
								<%= link_to 'Login to Follow this designer', '/login' %>
							<% end %>
					    </div>
                        <div style="margin-top:20px;">
						  <a href="<%= following_user_path(@designer) %>" class="removeline">
						      <%= @designer.following.count %>
						    following
						  </a>
						  &nbsp&nbsp&nbsp
						  <a href="<%= followers_user_path(@designer) %>" class="removeline">
						      <%= @designer.followers.count %>
						    followers
						  </a>
					    </div>
					</div>
					</div>
				</div>
			</div>

			<div class="designer-description">
				<h5 class="crimson">ABOUT</h5>
				<p class="crimson">
				<%= @details.about %>
			</div>

			<div class="designer-products">
				<h4 class="black-7">Products by <%= @details.name %></h4>
				<div class="row">
					<div class="products col-lg-12">
						<% @details.suites.each do |d|%>
							<div class="col-lg-3">
								
								<%=link_to_if d.present?, image_tag(d.avatar.url(:square)),d %>
							</div>
						<% end %>
						<div class="col-lg-3">
							<img src="">
						</div>
						<div class="col-lg-3">
							<img src="">
						</div>
						<div class="col-lg-3">
							<img src="">
						</div>
						<div class="col-lg-3">
							<img src="">
						</div>
					</div>
				</div>
			</div>
     	</div>






