
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<script type="text/javascript">
  $(document).ready(function(){
    $('#userpagenavbar li').each(function(){
      try{
        var idNavigation = $(this).attr('id');
        var idDiv = idNavigation.toLowerCase();
        $('#'+idNavigation).bind('click',function(){
          $('#'+idDiv).toggle();
        });
      }
      catch(e){
        console.log("ERROR: "+e);
      }
    });
  });
</script>





<div class="col-md-10" style="width:1000px;height:auto;border:1px solid #000000;">
 <p style="text-align:center;font-size:20px;background:rgba(1,0,0,0.1);position:relative;top:5px;color:"> ORDERS & ACCOUNT </p>

  <div style="width:940px;height:500px;margin:30px;margin-top:5px;">
          
          
         
            <ul  id="userpagenavbar" class="nav navbar-nav" >

              <li id ="Settings"><a href="#"class="removeline">Password</a></li>
              <li id="Orders"><a href="#"class="removeline">Orders</a></li>
              <li><a href="#"class="removeline">Addresses</a></li>
              <li><a href="#"class="removeline">Payment Methods</a></li>
              <li><a href="#"class="removeline">Wishlist</a></li>
              <li><a href="#"class="removeline">Fav Designer</a></li>
              <li><a href="#"class="removeline">Saved Projects</a></li>
              <li id="Lifestats"> <a class="removeline">Lifetime Stats</a></li>
            </ul>
         
   
  </div>
  
      <div style="width:500px;height:200px;margin-left:30px;margin-top:40px;">
      RECENT ORDERS  <i class="fa fa-clock-o"></i><small class="ordhist" >ORDER HISTORY</small><br/><br/>
      <table style="width:100%;border-bottom: 1px solid rgba(1,0,0,0.2);">
                  <tr>
                  <td  class="ordhist">DATE<br/><br/></td>
                  <td  class="ordhist">ORDER#<br/><br/></td>
                  <td  class="ordhist">STATUS<br/><br/></td>
                  <td  class="ordhist">TOTAL<br/><br/></td>
                </tr>
      </table>
      <%= button_to 'LOGOUT', '/logout/',:method => :get ,:form_class => "logoutbtn"  %>
      </div>
</div>

<p>User Account Page</p>

<% content_for :page_title do %>
  <%= Spree.t(:editing_user) %> <%= @user.email %>
<% end %>


<div id="settings" class="userpagenavdiv">
        <%= render :partial => 'spree/admin/users/sidebar', :locals => { :current => :account } %>
        <%= render :partial => 'spree/admin/users/user_page_actions' %>
<fieldset data-hook="admin_user_edit_general_settings" class="marginb">
         <legend><%= Spree.t(:general_settings) %></legend>

          <div data-hook="admin_user_edit_form_header">
            <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @user } %>
          </div>

          <div data-hook="admin_user_edit_form">
            <%= form_for [:admin, @user], as: :user, url: admin_user_url(@user), method: :put do |f| %>
              <%= render :partial => 'form', :locals => { :f => f } %>

              <div data-hook="admin_user_edit_form_button">
                <%= render :partial => 'spree/admin/shared/edit_resource_links', :locals => { :collection_url => admin_users_url } %>
              </div>
            <% end %>
          </div>
</fieldset>
</div>

<div id="lifestats" class="userpagenavdiv">
<%= render 'spree/admin/users/lifetime_stats' %>
</div>

<div id="orders" class="userpagenavdiv1">
<%= render 'spree/admin/users/sidebar' %>
</div>








