<title>Printdora.com - Banners</title>

<style>
table, td, th {
    border: 1px solid black;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
	background: #66cccc;
	color:white;
}

td{
	background: rgba(1,0,0,0.1);
}


</style>
<div  class="col-md-10 col-md-offset-1" style="width:1000px;">
<h1 style="text-align:center;"> Banners</h1>
<%= form_for [:admin, @new_banner] do |f| %> 
	<%= f.label :category %>
	<%= f.text_field :category %>

	<%= f.label :position %>
	<%= f.number_field :position %>

	<%= f.label "Banner Image" %>
	<%= f.file_field :picture %>

	<%= f.submit %> 
<% end %>
</br>
<table>
	<thead>
		<tr>
			<th> Banner Category </th>
			<th> Banner Position</th>
			<th> Banner Size </th>
			<th> Banner Image</th>
			<th> Update</th>
			<th> Delete</th>
		</tr>
	</thead>

	<% if !@banners.empty? %>
		<% @banners.each do |bn| %>
			<tr>
				<td><%= bn.category %></td>
				<td><%= bn.position%></td>
				<td><%= bn.picture_file_size%></td>
				<td><%= image_tag bn.picture.url(:small), height: 100%></td>
				<td><%= link_to 'Update', edit_admin_banner_path(bn.id) %></td>
				<td><%= link_to 'Delete', admin_banner_path(bn.id), method: 'delete', confirm: 'You Sure?', :title => "Delete #{bn.category}" %></td>
			</tr>		
		<%end %>
	<% end %>
</table>
</div>


