<h1> This is the banner index page </h1>
<%= form_for [:admin, @new_banner] do |f| %> 
	<%= f.label :category %>
	<%= f.text_field :category %>

	<%= f.label :position %>
	<%= f.number_field :position %>

	<%= f.label "Banner Image" %>
	<%= f.file_field :picture %>

	<%= f.submit %> 
<% end %>
</br>
<table>
	<thead>
		<tr>
			<td> Banner Category </td>
			<td> Banner Position</td>
			<td> Banner Size </td>
			<td> Banner Image</td>
			<td> Action</td>
		</tr>
	</thead>

	<% if !@banners.empty? %>
		<% @banners.each do |bn| %>
			<tr>
				<td><%= bn.category %></td>
				<td><%= bn.position%></td>
				<td><%= bn.picture_file_size%></td>
				<td><%= image_tag bn.picture.url(:small)%></td>
				<td>
			</tr>		
		<%end %>
	<% end %>
</table>
