<% if can? :admin, Spree::Order %>
  <li>
  	<%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
  </li>
<% end %>

<li>
	<%= main_menu_tree "Suites", icon: "bars", sub_menu: 'suite' %>
</li>

<% if can? :admin, Spree::Product %>
  <li>
  	<%= main_menu_tree Spree.t(:products), icon: "products", sub_menu: "product" %>
  </li>
<% end %>

<% if can? :admin, Spree::Admin::ReportsController %>
  <li>
  	<%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
  </li>
<% end %>

<% if can? :admin, Spree::Promotion %>
  <li>
  	<%= main_menu_tree Spree.t(:promotions), icon: "promotion", sub_menu: "promotion" %>
  </li>
<% end %>


<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <li >
  	<%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
  </li>
<% end %>

<% if can? :admin, current_store %>
  <li >
  	<%= main_menu_tree Spree.t(:configurations), icon: "wrench", sub_menu: "configuration"%>
  </li>
<% end %>


<li>
	<%= link_to 'Banners', admin_banners_path %>
</li>

<li>
  <%= link_to 'Designers', admin_designers_path %>
</li>