
<style>

#AboutUs{
    color: red;
}
    .inner-addon { 
    position: relative; 

}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  pointer-events: none;
}

/* align icon */
.right-addon .fa { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
</style>

<div class ="col-md-12" style="background:rgba(1,0,0,0.02); width:100%;height:auto;margin-top:10px;">
<div class="row">
<h1 style="text-align:center;font-size:15px;position: relative;
    bottom: 5px;"><font color="#40e0d0">SIGN UP & ENJOY FREE SHIPPING ON YOUR FIRST ORDER</font>
<%= render "spree/shared/guest_subscription" %>

<div class="inner-addon right-addon" id="inputboxsubs">
    <i class="fa fa-sign-in"></i>
    <input type="text" class="form-control" placeholder="Enter your email address"/>
</div>

</h1>


<div id ="footercol1" class="col-md-3">

	<ul>
		<li class="footerbottom"><b>INFORMATION</b></li>
	    <li class="footerbottom"><a href="#" style="color:black;">About Us</a></li>
        <li id="Customer Service" class="footerbottom"><a href="#" style="color:black;">Customer Service</a></li>
        <li id="Privacy Policy" class="footerbottom"><a href="#" style="color:black;">Privacy Policy</a></li>
        <li id="Site Map" class="footerbottom"><a href="#" style="color:black;">Site Map</a></li>
        <li id="Advanced Search" class="footerbottom"><a href="#" style="color:black;">Advanced Search</a></li>
        <li id="Orders and Returns" class="footerbottom"><a href="#" style="color:black;">Orders and Returns</a></li>
         <li id="Contact Us" class="footerbottom"><a href="#" style="color:black;">Contact Us</a></li>
    </ul>

</div>

<div id ="footercol1" class="col-md-3" >

	<ul>
	<li class="footerbottom"><b>WHY BUY FROM US</b></li>
	    <li id="Shipping & Returns" class="footerbottom"><a href="#" style="color:black;">Shipping & Returns</a></li>
        <li id="Secure Shopping" class="footerbottom"><a href="#" style="color:black;">Secure Shopping</a></li>
        <li id="International Shipping" class="footerbottom"><a href="#" style="color:black;">International Shipping</a></li>
        <li id="Affiliates" class="footerbottom"><a href="#" style="color:black;">Affiliates</a></li>
        <li id="Group Sales" class="footerbottom"><a href="#" style="color:black;">Group Sales</a></li>
       
    </ul>

</div>

<div id ="footercol1" class="col-md-3">

    <ul>
    	<li class="footerbottom"><b>MY ACCOUNT</b></li>
	    <li id="Sign In" class="footerbottom"><a href="#" style="color:black;">Sign In</a></li>
        <li id="View Cart" class="footerbottom"><a href="#" style="color:black;">View Cart</a></li>
        <li id="My Wishlist" class="footerbottom"><a href="#" style="color:black;">My Wishlist</a></li>
        <li id="Saved Projects" class="footerbottom"><a href="#" style="color:black;">Saved Projects</a></li>
        <li id="Track My Order" class="footerbottom"><a href="#" style="color:black;">Track My Order</a></li>
        <li id="Help" class="footerbottom"><a href="#" style="color:black;">Help</a></li>
               
    </ul>
</div>

<div id="footercol4" class="col-md-3" >
<ul>
	<li class="footerbottom"><b>FOLLOW US ON</b></li><br>
    <li class="footerbottompic"><%= link_to image_tag('facebook.jpg', height: 38), root_path %></li>
    <li class="footerbottompic"><%= link_to image_tag('twitter.jpg', height: 38), root_path %></li>
    <li class="footerbottompic"><%= link_to image_tag('g+.jpg', height: 38), root_path %></li>
    <li class="footerbottompic"><%= link_to image_tag('pinterest.jpg', height: 38), root_path %></li>


</ul>    
</div>
</div>
</div>



<div><p style="font-size:10px;font-family:verdana;float:left;">
<font color="black">Privacy Policy | Terms of Use | Glossary
<br>©2014 All rights reserved. www.printdora.com - India's Largest Online Card Store </font></br></p>

<ul class="row" style="float:right;margin-top:8px;">
  <%= image_tag "paycardfoot.jpg" %>
  </ul>

</div>


