
<div class ="col-md-12" style="background:rgba(1,0,0,0.02); width:100%;height:auto;margin-top:10px;font-weight:normal;">
<div class="row">
<div style="text-align:center;font-size:18px;position:relative;
    bottom:5px;font-family:Century Gothic;margin-top:10px;"><font color="#6BBCBF" >SIGN UP & STAY UPDATED</font>


<% @subscriber ||= Spree::Chimpy::Subscriber.new %>

<%= form_for @subscriber do |f| %>
    
    <div class="signupbox">
    <%= f.email_field :email, placeholder:"enter your email address", style:"height:38px;width:241px;float:left;margin:none;" %>
    <%=image_submit_tag("buttonsignup.jpg",:class=>"buttonsignup") %>
    </div>
    
<% end %>

</div>


<div id ="footercol1" class="col-md-3">

	<ul>
		<li class="footerbottom"><b>INFORMATION</b></li>
	    <li class="footerbottom"><a href="/about-us" style="color:black;">About Us</a></li>
        <li id="Customer Service" class="footerbottom"><a href="/contact-us" style="color:black;">Contact us</a></li>
        <li id="Privacy Policy" class="footerbottom"><a href="/privacy-policy" style="color:black;">Privacy Policy</a></li>
        <li id="Return Policy" class="footerbottom"><a href="/return-policy" style="color:black;">Return Policy</a></li>
        <li id="Copyright Policy" class="footerbottom"><a href="copyright-policy" style="color:black;">Copyright Policy</a></li>
         <li id="How it works" class="footerbottom"><a href="/how-it-works" style="color:black;">How it works</a></li>
    </ul>

</div>

<div id ="footercol1" class="col-md-3" >

	<ul>
	<li class="footerbottom"><b>WHY BUY FROM US</b></li>
        <li id="Why buy from us" class="footerbottom"><a href="/why-buy-from-us" style="color:black;">Why choose us</a></li>
	    <li id="Shipping & Returns" class="footerbottom"><a href="/get-dedicated-designer" style="color:black;">Know more about Dedicated Designer</a></li>
        <li id="Secure Shopping" class="footerbottom"><a href="/paper-and-print-styles" style="color:black;">Our love for paper</a></li>
        <li id="International Shipping" class="footerbottom"><a href="/guest-addressing" style="color:black;">Free guest addressing</a></li>
        <li id="Affiliates" class="footerbottom"><a href="/designers" style="color:black;">Meet our designers</a></li>       
    </ul>

</div>

<div id ="footercol1" class="col-md-3">

    <ul>
    	<li class="footerbottom"><b>MY ACCOUNT</b></li>
	    <li id="Sign In" class="footerbottom"><a href="/login" style="color:black;">Sign In</a></li>
        <li id="View Cart" class="footerbottom"><a href="/cart" style="color:black;">View Cart</a></li>
        <li id="My Wishlist" class="footerbottom"><a href="/wishlist" style="color:black;">My Wishlist</a></li>
        <!--<li id="Saved Projects" class="footerbottom"><a href="#" style="color:black;">Saved Projects</a></li>
        <li id="Track My Order" class="footerbottom"><a href="#" style="color:black;">Track My Order</a></li>-->
        <li id="Help" class="footerbottom"><a href="/contact-us" style="color:black;">Help</a></li>
               
    </ul>
</div>

<div id="footercol4" class="col-md-3" >
<ul>
	<li class="footerbottom"><b>FOLLOW US ON</b></li><br>
    <li class="footerbottompic"><%= link_to image_tag('facebook.jpg', height: 38), 'https://www.facebook.com/PrindoraIndia' %></li>
    <li class="footerbottompic"><%= link_to image_tag('twitter.jpg', height: 38), 'https://twitter.com/PrindoraIndia' %></li>
    <li class="footerbottompic"><%= link_to image_tag('g+.jpg', height: 38), 'https://plus.google.com/101755379772370219435/about' %></li>
    <li class="footerbottompic"><%= link_to image_tag('pinterest.jpg', height: 38), root_path %></li>


</ul>    
</div>
</div>
</div>



<div><p style="font-size:10px;font-family:verdana;float:left;">
<font color="black">Privacy Policy | Terms of Use | Glossary
<br>©2014 All rights reserved. www.printdora.com - India's Largest Online Card Store </font></br></p>

<ul class="row" style="float:right;margin-top:8px;">
  <%= image_tag "paycardfoot.jpg" %>
  </ul>

</div>


