<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  <script type="text/javascript">
  $(document).ready(function(){
    $('#navigationbar li').each(function(){
      try{
        var idNavigation = $(this).attr('id');
        var idDiv = idNavigation.toLowerCase();
        var timeoutNavigationFade;
       
        $('#'+idNavigation).bind('mouseover',function(){
          clearTimeout(timeoutNavigationFade);
          $('#'+idDiv).fadeIn(700);
        });
        $('#'+idDiv).bind('mouseover',function(){
          clearTimeout(timeoutNavigationFade);
        });
        
        $('#'+idNavigation+", #"+idDiv).bind('mouseout',function(){
          timeoutNavigationFade=setTimeout(function(){$("#"+idDiv).fadeOut(100);}, 100);
        });
      }
      catch(e){
        console.log("ERROR: "+e);
      }
    });
  });
  </script>

<style type="text/css">
li{
  list-style-type:none;
}
</style>


   
 

      <ul id="navigationbar">
        <li id="Weddinginvt" class="mainnavelements"><a href="/wedding-invitations">WEDDING INVITATIONS</a></li>
        <li id="Weddingacc"><a href="/wedding-accessories">WEDDING ACCESSORIES</a></li>
        <li id="Partyinvt"><a href="/party-invites">PARTY INVITATIONS</a></li>
        <li id="Greetings"><a href="/greetings">GREETINGS</a></li>
        <li id="Designers"><a href="/designers">MEET OUR DESIGNERS</a></li>
        <li id="Sources"><a href="/bonheur">BONHEUR</a></li>
      </ul>           
      


                    <div id="weddinginvt" class="navigation-div">
                        
                          <div class="row">
                              <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbspWEDDING INVITATIONS</b></li>
                                <li style="margin-left:2px;"><%= link_to image_tag('Wedding_Invitation.jpg', height: 210,width:180), "/wedding-invitations" %>
                                </li><br><br/><br/>                               <br/><br/><br/>

                                <li><a href="/wedding-invitations" class="rollcatg"><b>Shop All Wedding Invitations</b>&nbsp
                                <i class="fa fa-caret-right"></i></a></li> 

  
                              </div>
                              
                              <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbspSHOP BY THEME</b></li><br/>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Western Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Royal Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Vibrant Color Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Floral Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Quirky Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Ethnic Collections</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Painting Collections</a></li>
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                <li style="margin-top:16px;"><a href="/wedding-invitations" class="rollcatg"><b>Shop All Themes</b>&nbsp
                                <i class="fa fa-caret-right"></i></a></li>
                                
                                <!--<li style="float:left;"><b>SHOP BY COLOR</b></li>
                                <li><a href="" class="rollcatg">Pink</a></li>
                                <li><a href="" class="rollcatg">Blue</a></li>
                                <li><a href="" class="rollcatg">Orange</a></li><br/>
                                <li><a href="" class="rollcatg">Green</a></li><br/>
                                <li><a href="" class="rollcatg">Yellow</a></li><br/>
                                <li><a href="" class="rollcatg">Red</a></li><br/><br>                 
                                <li><a href="/wedding-invitations" class="rollcatg"><b>Shop All Colors</b>&nbsp<i class="fa fa-caret-right"></i></a></li>-->

                              </div>

                              
                              <div class="col-md-3" id="navdiv1">  
                                <li><b>&nbsp&nbsp&nbspSHOP BY PRINTING STYLES</b></li><br/>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Embossing</a></li>
                                <li style="float:left;margin-bottom:4px;margin-right:100px;"><a href="" class="rollcatg">Letterpress</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Laser-Cut</a></li>
                                <li style="float:left;margin-bottom:4px;"><a href="" class="rollcatg">Foil-Stamped</a></li><br/>
                                <li style="margin-left:4px;margin-bottom:10px;"><%= link_to image_tag('Wedding_Invitationtwo.jpg',width:180,height:180), "/wedding-invitations" %></li><br/>
                                <li><a href="/wedding-invitations" class="rollcatg"><b>Shop All Printing Styles</b>&nbsp
                                <i class="fa fa-caret-right"></i></a></li>                 
                              </div>
                              <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbspSAVE THE DATE</b></li><br/>
                                <li style="margin-left:32px;"><%= link_to image_tag('STD.jpg'), "/wedding-invitations" %></li>
                                <br/><br/><br/><br/><br/><br/>

                                <li><a href="/wedding-invitations" class="rollcatg"><b>Shop All Save The Dates</b>&nbsp
                                <i class="fa fa-caret-right"></i></a>
                                </li>                               
                              </div>
                              <div class="col-md-3" id="navdiv11">
                                <li class="rollcatg"><b>QUALITY YOU WILL FALL IN LOVE WITH.</b></li>  
                                <li><a href="" class="rollcatg">Check Our Printing & Paper Styles</a></li>                
                              </div>
                          </div>

                    </div>
                      
                  <div id="greetings" class="navigation-div">
                          
                          <div class="row">
                            <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbsp BIRTHDAY</b></li><br/>
                                <li style="margin-bottom:4px;"><a href=""class="rollcatg">Birthday Cards For Kids</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Son</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Daughter</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Friend</a></li><br/> 
                                <li style="margin-left:28px;"><%= link_to image_tag('Birthday_Friend.jpg'), "/wedding-invitations" %></li>
                            </div>
                            <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbsp BIRTHDAY</b></li><br/>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Brother</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Sister</a></li><br/>
                                <li style="margin-left:31px;margin-bottom:8px;"><%= link_to image_tag('Birthday_Sister.jpg'), "/wedding-invitations" %></li>
                                 <br/><br/><br/><br/><br/><br/><br/><br/>
                            </div>

                            <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbsp BIRTHDAY</b></li><br/>
                                <li style="margin-bottom:4px;"><a href=""class="rollcatg">Birthday Cards For Husband</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Wife</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Boyfriend</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Girlfriend</a></li>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Birthday Cards For Father</a></li>
                                <li style="margin-bottom:12px;"><a href="" class="rollcatg">Birthday Cards For Mother</a></li>
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                             
                            </div>
                            <div class="col-md-3" id="navdiv1">
                                <li><b>&nbsp&nbsp&nbsp ANNIVERSARY</b></li><br>
                                <li><a href="" class="rollcatg">Anniversay Cards For Parents</a></li><br/>
                                <li style="margin-left:31px;"><%= link_to image_tag('Anniversary_Parents.jpg'), "/wedding-invitations" %></li><br/>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Anniversay Cards For Couple</a></li>
                                <li><a href="" class="rollcatg">Anniversay Cards For 25th &nbsp&nbsp&nbspAnniversary</a></li>
                                <br/><br/><br/><br/><br/><br/>

                            </div>
                            <div class="col-md-3" id="navdiv11">
                                <li><b>&nbsp&nbsp&nbsp ANNIVERSARY</b></li><br/>
                                <li style="margin-bottom:4px;"><a href="" class="rollcatg">Anniversay Cards For Wife</a></li>
                                <li><a href="" class="rollcatg">Anniversay Cards For Husband</a></li><br/>
                                <li style="margin-left:33px;"><%= link_to image_tag('Anniversay_Husband.jpg'), "/wedding-invitations" %></li>
                                <br/><br/><br/><br/><br/>


                            </div>
                          </div>
                  </div>

                  <!--<div id="weddingacc" class="navigation-div">
                          
                          <div class="row">
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                                                     
                          </div>
                  </div>-->
                      
                  <div id="partyinvt" class="navigation-div">
                          <div class="row">
                            <div class="col-md-3" id="navdiv2">
                                <li><b>&nbsp&nbsp&nbspBIRTHDAY PARTY KIDS</b></li><br>
                                <li style="margin-left:8px;"><%= link_to image_tag('Birthday_Party_kid.jpg'), "/wedding-invitations" %> 
                                </li><br/><br/>                                             
                                <li><a href="" class="rollcatg"><b>Shop All Birthday Invites For Kids</b>&nbsp
                                <i class="fa fa-caret-right"></i></a></li>
                            </div>
                            <div class="col-md-3" id="navdiv2">
                                <br/><br/>
                                <li><a href=""class="rollcatg">Birthday Party Invitations For Adults</a></li><br/>
                                <li><a href="" class="rollcatg">1st Birthday Party Invitations</a></li><br/>
                                <li><a href="" class="rollcatg">Baby Shower Invitations</a></li><br/>
                                <li><a href="" class="rollcatg">Bridal Shower Invitations</a></li>           
                            </div>
                            <div class="col-md-3" id="navdiv2">
                                <li><b>&nbsp&nbsp&nbspHOUSE WARMING</b></li>
                                <%= image_tag "" ,height:150 %>
                                <li><a href="/wedding-invitations" class="rollcatg"><b>Shop All House Warming</b>&nbsp
                                <i class="fa fa-caret-right"></i></a>
                                </li>
                            </div>

                            <div class="col-md-3" id="navdiv4">
                                <li><b>&nbsp&nbsp&nbspENGAGEMENT</b></li><br/>
                                <li><a href="" class="rollcatg">Bridal Shower</a></li>
                            </div> 
                          </div>                  
                  </div>

                      


    
    
  

