<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: center;
}

a {
    display: block;
    width: 60px;
   #background-color: #dddddd;
}
</style>
</head>
<body>

<nav class="navbar col-md-8" id="top-nav-bar">
	
	<ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
		<li id="search-bar" data-hook>
			<%= render :partial => 'spree/shared/search' %>
		</li>

        <li class="nav navbar-nav navbar-right">
			<%= link_to "Cart", '/cart/' %>
		</li>
		 <li class="nav navbar-nav navbar-right">
			<%= link_to "Wishlist", '/wishlist/' %>
		</li>
		<li class="nav navbar-nav navbar-right">
			<%= link_to "Log In", '/login/' %>
		</li>

		<li class="nav navbar-nav navbar-right">
		<%if @current_user.present? %>
			<%= link_to "My Account", '/account/'  %>
		<% else %>
			  <%= link_to "Logout", '/logout/' %>
		<% end %>


		</li>

	</ul>
</nav>


	
			
