<style>
.topmost-nav-list{
    float: center;
    margin-right: 5px;
    margin-left: 5px;
}

#topmost-nav{
	font-family: Georgia;
	1
}
</style>


<nav id= 'topmost-nav' class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav navbar-right ">
		
        <li class="topmost-nav-list">
			<%= link_to "Cart", '/cart/' %>
		</li>
		 <li class="topmost-nav-list">
			<%= link_to "Wishlist", '/wishlist/' %>
		</li>
		
		<%if spree_current_user %>
			<li class="topmost-nav-list">	
				<%= link_to spree_current_user.email, '/myaccount' %>
			</li>
			
			<li class="topmost-nav-list">	
				<%= link_to "Logout", '/logout/' %>
			</li>

		<% else %>
			<%= link_to "Log In", '/login/' %>  
		<% end %>
        

		</li>
		

	</ul>
</nav>



