	<div class="form-group">
		<%= f.label 'Name', class: 'col-md-2 control-label signup-label '%>
		<div class="col-md-4 col-md-offset-1">
			<% if session[:omniauth] %>
				<%= f.text_field :first_name, :class => 'form-control ', value: session[:omniauth]['info']['first_name'] %>
			<% else %>
				<%= f.text_field :first_name, :class => 'form-control', placeholder: 'first name'%>
			<% end %>

		</div>
		<div class="col-md-4 col-md-offset-1">
			<% if session[:omniauth]%>
				<%= f.text_field :last_name, :class => 'form-control ',  value: session[:omniauth]['info']['last_name']%>
			<% else %>
				<%= f.text_field :last_name, :class => 'form-control ', placeholder: 'last name' %>
			<% end %>
		</div>
	</div>
	
		<div class="form-group">
			<%= f.label 'Email', class: 'col-md-2 control-label signup-label signup-label ' %>
			<div class="col-md-9 col-md-offset-1"> 
				<% if session[:omniauth]%>
					<%= f.email_field :email, :class => 'form-control ', :placeholder => Spree.t(:email),value: session[:omniauth]['info']['email'] if session[:omniauth] %>
				<% else %>
					<%= f.email_field :email, :class => 'form-control ', :placeholder => Spree.t(:email)%>
				<% end %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label 'Mobile', class: 'col-md-2 control-label signup-label ' %>
			<div class="col-md-9 col-md-offset-1"> 
				<div class="input-group">
					<span class="input-group-addon">+91</span>
					<%= f.text_field :phone, :class => 'form-control ', :placeholder=> 'Mobile' %>	
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= f.label 'Password', class: 'col-md-2 control-label signup-label '%>
			<div class="col-md-4 col-md-offset-1">
				<%= f.password_field :password, :class => 'form-control ', :placeholder => Spree.t(:password) %>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label 'Gender', class: 'col-md-2 control-label signup-label '%>
			<div class="col-md-2 col-md-offset-1">
				<span class="signup-label "> Male</span>
				<%= f.radio_button :gender, "Male"%>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<span class="signup-label "> Female</span>
				<%= f.radio_button :gender, "Female"%>
			</div>
		</div>
	<div class="form-group">		
		<%#= f.check_box :is_designer, {}, 'true', 'false' %>
		<%#= f.label 'Are you a designer ?' %>
	</div>

<!--
<div data-hook="signup_below_password_fields"></div> 
-->