
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>


<style>
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 15px; 
   font-size: 30px;
   font-family: 'Old Standard TT', serif;
   font-style: italic; 
} 

h2 span { 
    background:#fff; 
    padding:20px 10px; 
}

h4 {
     font-size: 23px;
     font-family: 'Old Standard TT', serif;
     font-style: italic; 
     float: right;
     margin-right: 10px;
     margin-left: 10px;

}

h5 {
     font-size: 17px;
     font-family: 'Old Standard TT', serif;
     font-style: italic; 

}

p span{ 
font-weight: normal;}

h6{     
     font-size: 20px;
     font-family:Times; 
     margin-top:1px;
     margin-bottom:1px;
}

h3{
  margin-top:1px;
  font-size: 30px;
  font-family:Times;
}

#mask {
  position:absolute;
  margin-left:-150px;
  margin-top:-150px;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:fixed;
  width:700px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


#boxes #dialog2 {
  width:630px; 
  height:340px;
  padding:50px 0 20px 25px;
  margin-top: 150px;
  margin-left: 10px;
}


#popupfoot{
  font-size: 5px;
  padding: 0 auto;

}
#popupfoot a{
  text-decoration: none;
  font-size: 20px;
  color:white;
}


.emailpopup{
height:23px;
width:180px;
padding:5px;
font-size:12px;
background:#ffffff;

}
.submitpopup{
height:20px;
width:60px;
padding:1px;
font-size:9px;
background:#ffffff;
}

.whychooseus{
    width:590px;
    font-weight: normal;
}

.smallspan{
  width:50px;
  height:60px;
  float:left;
  color: #6BBCBF;
}

.bigspan{
  float:left;
  width:525px;
  height:60px;
  padding-left: 20px;
}

ul.choose li{
  margin-bottom: 25px;
  margin-left: -30px;
}


</style>


<script>

$(document).ready(function() {  

//if the cookie hasLaunch is not set, then show the modal window
if (!readCookie('hasLaunch')) {
    //launch it
    launchWindow('#dialog2');       
    //then set the cookie, so next time the modal won't be displaying again.
    createCookie('hasLaunch', 1, 1);
}

//if close button is clicked
$('.window .close').click(function () {
    $('#mask').hide();
    $('.window').hide();
});     

//if mask is clicked
$('#mask').click(function () {
    $(this).hide();
    $('.window').hide();
});         


$(window).resize(function () {

    var box = $('#boxes .window');

    //Get the screen height and width
    var maskHeight = $(document).height();
    var maskWidth = $(window).width();

    //Set height and width to mask to fill up the whole screen
    $('#mask').css({'width':maskWidth,'height':maskHeight});

    //Get the window height and width
    var winH = $(window).height();
    var winW = $(window).width();

    //Set the popup window to center
    box.css('top',  winH/2 - box.height()/2);
    box.css('left', winW/2 - box.width()/2);

}); 

});

function createCookie(name,value,days) {
if (days) {
    var date = new Date();
    //date.setTime(date.getTime()+(days*24*60*60*1000));
    date.setTime(date.getTime()+(1*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
}
else var expires = "";
document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
var nameEQ = name + "=";
var ca = document.cookie.split(';');
for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
}
return null;
}

function launchWindow(id) {

    //Get the screen height and width
    var maskHeight = $(document).height();
    var maskWidth = $(window).width();

    //Set heigth and width to mask to fill up the whole screen
    $('#mask').css({'width':maskWidth,'height':maskHeight});

    //transition effect     
    $('#mask').fadeIn(1000);    
    $('#mask').fadeTo("slow",0.8);  

    //Get the window height and width
    var winH = $(window).height();
    var winW = $(window).width();

    //Set the popup window to center
    $(id).css('top',  winH/2-$(id).height());
    $(id).css('left', winW/2-$(id).width()/2);

    //transition effect
    $(id).fadeIn(2000); 


}

</script>


<div id="boxes">
    <!-- Start of Sticky Note -->
  <div id="dialog2" class="window">
    <div style="position:relative;" >
    <%= image_tag 'signuppop.jpg'%>
    <% @subscriber ||= Spree::Chimpy::Subscriber.new %>

     <%= form_for @subscriber do |f| %>

        <div style="position:absolute;top:220px;left:375px">
          <%= f.email_field :email,placeholder:"enter your email address", class:"emailpopup" %>
        </div>
        <div style="position:absolute;top:250px;left:435px">
          <%=f.submit :SignUp,:class=>"submitpopup btn btn-default btn-large" %>
        </div>
     <% end %>
    </div>
    <div id="popupfoot"> <a href="" class="close"><span class="glyphicon glyphicon-remove-sign"></span></a>   
    </div>
  </div>
    <!-- End of Sticky Note -->
<!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>


<!--index page starts from here-->
<div id='result_json'></div>
<div class="col-md-12" style="height:500px;width:1000px;margin-bottom:30px;background:rgba(1,0,0,0.1);display:inline;">
<%= render 'main_banner'%>
</div>

 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:35px;">     
    <div class="col-md-8" style="height:410px;width:592px;margin-right:8px;">
              <div class="whychooseus">
                    <h3>Why choose us</h3>
                    <ul class="choose">
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-paint-brush fa-3x"></i></span>
                        <span class="bigspan"><h6><b>Customization</b></h6> Modify designs to suit your style and taste</span></li>
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-user fa-3x"></i></span>
                        <span class="bigspan"><h6><b>Free Dedicated Designer</b></h6> Get experienced Graphic Designer to assist you in end-to-end customization</span></li>
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-rocket fa-3x"></i></span>
                        <span class="bigspan"><h6 ><b>No Hassles</b></h6> Get all the services at your door step</span></li>
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-stack-overflow fa-3x"></i></span>
                        <span class="bigspan"><h6><b>Wide range of designs</b></h6> Exclusive and unique designs from world class designers</span></li>
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-envelope fa-3x"></i></span>
                        <span class="bigspan"><h6><b>Free Recipient Addressing</b> </h6> We add recipient addresses on your envelopes so that you can save your time</span></li>
                        <li class="cust">
                        <span class="smallspan"><i class="fa fa-thumbs-up fa-3x"></i></span>
                        <span class="bigspan"><h6 ><b>Quality you can feel</b></h6>  Luxe paper and best prints. We bet you will fall in love with our cards</span></li>
                    </ul>
                </div>
    </div>    
    <div class="col-md-4" style="height:410px;width:392px;margin-left:8px;"> 
        <h3>Get FREE dedicated designer</h3>  
    <div class="col-md-4" style="height:360px;width:392px;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);padding:20px;"> 
    <p style= "font-weight:normal;margin-left:15px;margin-bottom:20px;">Call +91-9953733764 to talk to your dedicated designer</p>
        <%= render 'spree/leads/new_home' %>
    </div>
    </div>
 </div>

<!--<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:30px;">
<h2><span> Services at your Doorstep</span></h2> 
</div> 

<div class="col-md-12" style="height:230px;width:1000px;margin-bottom:50px;background:rgba(1,0,0,0.1);display:inline;">
  	<%= render 'second_banner'%>
</div>-->

<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:30px;">
<h2><span> How it Works </span></h2> 
</div> 

<div class="col-md-12" style="height:650px;width:1000px;margin-bottom:30px;background:rgba(1,0,0,0.1);display:inline; ">
<%= render 'fifth_banner' %>  
</div>

<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:30px;">
<h2><span> Other Invitations </span></h2>
</div>


<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:30px;">
    <div class="col-md-6" style="height:311px;width:492px;margin-right:8px;background:pink;display:inline;">
    <%= render 'third_banner'%>
    </div>
    <div class="col-md-6" style="height:311px;width:492px;margin-left:8px;background:lavender;display:inline;">
    <%= render 'fourth_banner'%>
    </div>
</div>


<div class="col-md-12" style="height:70px;width:1000px;margin-bottom:10px;">
  <div class="col-md-6" style="height:150px;width:492px;margin-right:8px;display:inline; margin-top:10px;text-align:center;">
     <a href="/other-invitations/bridal-shower-invitations">
        <p><span style="font-size:16px; text-align:center; margin-top:10px; width:49%; color:#6BBCBF"> Shop all Bridal Shower Invitations<i class="fa fa-arrow-circle-right"></i></span></p>
     </a>
  </div>
  <div class="col-md-6" style="height:70px;width:492px;margin-left:8px; display:inline; margin-top:10px;text-align:center;">
     <a href="/other-invitations/1st-birthday-party-invitations"> 
     <p><span style="font-size:16px; text-align:center; margin-top:10px; width:49%; color:#6BBCBF"> Shop all 1st Birthday Party Invitations<i class="fa fa-arrow-circle-right"></i></span></p>
     </a>
  </div>
</div>


 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:30px;">     
    <div class="col-md-4" style="height:140px; width:321px; margin-right:8px;">
    <a href="/why-buy-from-us" style="text-decoration:none;color:#000;">
        <%= image_tag 'wbuyus.jpg' %>
    </a>
    </div>
    
    <div class="col-md-4" style="height:140px; width:322px; border: 1px solid rgba(1,0,0,0.3); margin-right:8px;margin-left:8px;" >
        <div style="height:140px;width:220px; text-align:center;float:left;">
           <p><span style="font-size:24px; height:auto; font-family:Times; text-align: center; margin-top:2px; margin-bottom: 3px; margin-left: 5px; width:49%;"> Meet our Designer of the month
              </span> 
           </p>
           <p><span style="font-size:20px; height:auto; font-family:Times; text-align: center; margin-top:10px; margin-left: 5px; width:49%; font-style:italic;"><%= @designers.name %>
            </span> 
           </p>
        </div>
        <div style="height:140px;width:100px;float:left;margin-top:10px;">
            <%= image_tag @designers.avatar.url(:thumb),style:'grayscale:(1,0,0,0.2);'%>
        </div>
    </div>
    
    <div class="col-md-4" style="height:140px; width:321px;margin-left:8px;"> 
    <a href="/why-buy-from-us" style="text-decoration:none;color:#000;">
        <%= image_tag 'freeship.jpg' %>
    </a>
    </div>
</div>


<script type="text/javascript">
  var ready;
  ready = function(){
    $('.carousel').carousel({
        interval: 3500
    });
  };
  
  $(document).ready(ready);
  $( document ).on('page:load',ready);
</script>





