<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div id="boxes">
  <div id="dialog" class="window">   
    <div style="position:relative;" >
    <%= image_tag 'signuppop.jpg'%>
    <% @subscriber ||= Spree::Chimpy::Subscriber.new %>

     <%= form_for @subscriber do |f| %>

        <div style="position:absolute;top:240px;left:373px">
          <%= f.email_field :email,placeholder:"enter your email address", class:"emailpopup" %>
        </div>
        <div style="position:absolute;top:265px;left:440px">
          <%=f.submit :SignUp,:class=>"submitpopup" %>
        </div>
     <% end %>
    </div>
    <div id="popupfoot"> <a href="#" class="close agree"><span class="glyphicon glyphicon-remove-sign"></span></a>   
    </div>
  </div>
</div>
<div id="mask"></div>

<script type="text/javascript">
$(document).ready(function() {  

var id = '#dialog';

//Get the screen height and width
var maskHeight = $(document).height();
var maskWidth = $(window).width();

//Set heigth and width to mask to fill up the whole screen
$('#mask').css({'width':maskWidth,'height':maskHeight});

//transition effect 
$('#mask').fadeIn(1000);  
$('#mask').fadeTo("slow",0.8);  

//Get the window height and width
var winH = $(window).height();
var winW = $(window).width();

//Set the popup window to center
$(id).css('top', winH/2-$(id).height()/2);
$(id).css('left', winW/2-$(id).width()/2);

//transition effect
$(id).fadeIn(2000); 

//if close button is clicked
$('.window .close').click(function (e) {
//Cancel the link behavior
e.preventDefault();

$('#mask').hide();
$('.window').hide();
}); 

//if mask is clicked
$('#mask').click(function () {
$(this).hide();
$('.window').hide();
}); 

});

</script>

<script type="text/javascript">

//Pop-under only once per browser session? (0=no, 1=yes)
//Specifying 0 will cause popunder to load every time page is loaded
var once_per_session=1

///No editing beyond here required/////

function get_cookie(Name) {
var search = Name + "="
var returnvalue = "";
if (document.cookie.length > 0) {
offset = document.cookie.indexOf(search)
if (offset != -1) { // if cookie exists
offset += search.length
// set index of beginning of value
end = document.cookie.indexOf(";", offset);
// set index of end of cookie value
if (end == -1)
end = document.cookie.length;
returnvalue=unescape(document.cookie.substring(offset, end))
}
}
return returnvalue;
}

function loadpopunder(){
if (get_cookie('popunder')==''){
loadpopunder()
document.cookie="popunder=yes"
}
}
function loadpopunder(){
if (once_per_session==0)
loadpopunder()
else
{
if (get_cookie('popunder')==''){
loadpopunder()
document.cookie="popunder=yes"
}
}
}
</script>



<!--index page starts from here-->
<div id='result_json'></div>
<div class="col-md-12" style="height:503px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1);">
<%= render 'main_banner'%>
</div>


<div class="col-md-12" style="height:230px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1);">
  	<%= render 'second_banner'%>
</div>


<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:10px;">
    <div class="col-md-6" style="height:311px;width:492px;margin-right:8px;background:pink;">
    <%= render 'third_banner'%>
    </div>
    <div class="col-md-6" style="height:311px;width:492px;margin-left:8px;background:lavender;">
    <%= render 'fourth_banner'%>
    </div>
</div>

<div class="col-md-12" style=";width:1000px;margin-bottom:5px;">
<h3 style="font-size:25px;font-family:Fantasy;text-align:center;border-top:1px solid rgba(1,0,0,0.5);border-bottom:1px solid rgba(1,0,0,0.5);width:200px;margin-left:400px;margin-top:5px;margin-bottom:5px;"><b>How it Works</b></h3></div>

<div class="col-md-12" style="height:257px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1); ">
<%= render 'fifth_banner' %>  
</div>


 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:10px;">     
    <a href="/why-buy-from-us"><div class="col-md-4" style="height:140px; width:321px;border:1px solid rgba(1,0,0,0.3); margin-right:8px;">
    <h3 style="Padding:50px 50px;font-family:Fantasy;font-size:25px;text-align:center;"> 
      Why Buy From Us</h3>
    </div></a>
    <div class="col-md-4" style="height:140px; width:322px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;;" >
    </div>
    <div class="col-md-4" style="height:140px; width:321px;border:1px solid rgba(1,0,0,0.3); margin-left:8px;">
    <h3 style="Padding:50px 15px;font-family:Fantasy;font-size:25px;text-align:center;">
    Free Printing & Shipping</h3>
    </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 5000
    });
</script>


