<div class="col-md-12" style="height:503px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1);">
	<%= render 'main_banner'%>
</div>

<div class="col-md-12" style="height:250px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1);">
	<%= render 'second_banner'%>
</div>


<div class="col-md-12" style="height:auto;width:1000px;margin-bottom:10px;">
		<div class="col-md-6" style="height:311px;width:492px;margin-right:8px;background:pink;">
			<%= render 'third_banner'%>
		</div>
		<div class="col-md-6" style="height:311px;width:492px;margin-left:8px;background:lavender;">
			<%= render 'fourth_banner'%>
		</div>

</div>

<div class="col-md-12" style="height:311px;width:1000px;margin-bottom:10px;background:rgba(1,0,0,0.1); ">
	<%= render 'fifth_banner' %>	
</div>


 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:10px;">
                
                  <div class="col-md-4" style="height:238px; width:238px; background:rgba(1,0,0,0.2); margin-right:8px;" >
                  </div>
                  <div class="col-md-4" style="height:238px; width:238px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;;" >
                  </div>
                  <div class="col-md-4" style="height:238px; width:238px; background:rgba(1,0,0,0.2); margin-right:8px;margin-left:8px;" >
                  </div>
                  <div class="col-md-4" style="height:238px; width:238px; background:rgba(1,0,0,0.2); margin-left:8px;" >
                  </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    })
</script>

