<style type="text/css">
	.homeform{
		width: 300px;
		font-weight: normal;
		margin-left: -50px;
	}
</style>



<div class="row">
	<div class="col-sm-offset-2">
			<%= form_for @lead, html: {class: 'homeform'} do |f| %>
			<div class="row form-group">
				<%= f.label 'Name', class: 'col-sm-3' %>
				<%= f.text_field :name, class: 'col-sm-9'%>
			</div>
			<div class="row form-group">
				<%= f.label 'email', class: 'col-sm-3'%>
				<%= f.text_field :email, class: 'col-sm-9' %>
			</div>
			<div class="row form-group">
				<%= f.label 'contact', class: 'col-sm-3' %>
				<%= f.text_field :contact, class: 'col-sm-9'%>
				
			</div>
			<div class="row form-group">
				<%= f.label 'city', class: 'col-sm-3' %>
				<%= f.text_field :city, class: 'col-sm-9'%>
			</div>
			
			
			<div class="row form-group">
				<%= f.label 'Gender', class: 'col-sm-3' %>
                <%= f.radio_button :gender, 'male', :checked => true %>Male
                <%= f.radio_button :gender, 'female' %> Female			
            </div>

            <div class="row form-group">
				<%= f.hidden_field :product_id, value: s_id, class: 'col-sm-6'%>
			</div>
			
			

			<div class="row form-group">
                <%= image_submit_tag("iwanttobuy.jpg",:style => 'margin-left:56px;') %>

			</div>
		<% end %>
	</div>
</div>
