<head>

<style type="text/css">
	.homeform{
		width: 300px;
		font-weight: normal;
		margin-left: -50px;
	}
</style>


<!-- Facebook Conversion Code for Dedicated_Designer_Product_Page -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6024580909768', {'value':'0.00','currency':'INR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6024580909768&amp;cd[value]=0.00&amp;cd[currency]=INR&amp;noscript=1" /></noscript>

</head>


<div class="row">
	<div class="col-sm-offset-2">
			<%= form_for @lead, html: {class: 'homeform'} do |f| %>
			<div class="row form-group">
				<%= f.label 'Name', class: 'col-sm-3' %>
				<%= f.text_field :name, class: 'col-sm-9'%>
			</div>
			<div class="row form-group">
				<%= f.label 'email', class: 'col-sm-3'%>
				<%= f.text_field :email, class: 'col-sm-9' %>
			</div>
			<div class="row form-group">
				<%= f.label 'contact', class: 'col-sm-3' %>
				<%= f.text_field :contact, class: 'col-sm-9'%>
				
			</div>
			<div class="row form-group">
				<%= f.label 'city', class: 'col-sm-3' %>
				<%= f.text_field :city, class: 'col-sm-9'%>
			</div>
			
			
			<div class="row form-group">
				<%= f.label 'Gender', class: 'col-sm-3' %>
                <%= f.radio_button :gender, 'male', :checked => true %>Male
                <%= f.radio_button :gender, 'female' %> Female			
            </div>

            <div class="row form-group">
				<%= f.hidden_field :product_id, value: "test", class: 'col-sm-6'%>
			</div>

			

			<div class="row form-group">
                <%= image_submit_tag("ddesigner.jpg",:style => 'margin-left:22px;') %>

			</div>
		<% end %>
	</div>
</div>
